.alert-offer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    z-index: 100;
    background-image: none;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
        top: 0;
        bottom: auto;

        > .container {
            padding: 0;
        }
    }


    .bg-dark {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 1rem;
        background-color: rgba(18, 34, 50, 0.96);
        border-radius: 0.5rem;
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            gap: 0.5rem;
            border-radius: 0;
            text-align: center;
        }


        figure {
            width: 4rem;

            img {
                border-radius: 0.25rem;
                width: 100%;
                height: auto;
            }
        }

        span {
            font-size: 0.875rem;
            font-weight: 600;
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
                font-size: 0.75rem;
            }

        }

        .buttons {
            margin-left: auto;
            display: flex;
            gap: 0.5rem;
            @include media-breakpoint-down(md) {
                margin-left: 0;
                justify-content: center;
                flex-basis: 100%;
            }


            button, a {
                padding: 0 1rem;
                line-height: 2.5rem;
                border-radius: 0.25rem;
                background: none;
                font-size: 0.875rem;
                font-weight: 600;
                color: #fff;
                border: none;
                text-decoration: none;

                &.border {
                    border: 0.063rem solid rgba(255, 255, 255, 0.2) !important;
                }

                &.btn-alert-close {
                    padding: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 0.25rem;
                    background-color: rgba(255, 255, 255, 0.2);
                    font-size: 0;
                    @include media-breakpoint-down(md) {
                        position: absolute;
                        width: 1.25rem;
                        height: 1.25rem;
                        top: 0.5rem;
                        right: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                    }


                    .icon-cross {
                        stroke: #FFF;
                    }
                }
            }
        }
    }
}
