.author {
    figure {
        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }
    }

    .badge {
        border-radius: 0.25rem;
        background-color: rgba(0, 175, 202, 0.1) !important;
        color: #00afca;
        font-weight: normal;
    }

    a {
        &:hover {
            border-bottom: 0 !important;

            svg {
                fill: $primary;
            }
        }
    }

    &.v-2 {
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;

            figure {
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }


        dl {
            dt {
                color: $gray-500;
                font-weight: 500;
                font-size: 0.875rem;
                @include media-breakpoint-down(md) {
                    font-size: 0.75rem;
                }

            }
            dd {
                .h5 {
                    @include media-breakpoint-down(md) {
                        font-size: 0.875rem;
                    }

                }
            }
        }

        .social-links {
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
                justify-content: center;
                border-top: 1px solid #FFF;
                padding-top: 1rem;
            }
        }
    }
}
