.card-list {
    .thumb-wrap {
        @include media-breakpoint-down(lg) {
            @include flex-inline;
            padding: 0 1rem;
        }

        figure {
            text-align: center;
            line-height: 7rem;
            font-size: 0;
            @include media-breakpoint-down(lg) {
                line-height: 4.5rem;
            }

            img {
                max-width: 100%;
                width: auto;
                max-height: 7rem;
                @include media-breakpoint-down(lg) {
                    max-height: 4.5rem;
                }
            }
        }
    }

    .text-light {
        color: rgba(45, 62, 80, 0.5) !important;
    }


    .sticker {
        top: 0.5rem;
        left: 0;
        right: auto;
        padding: 0 0.5rem;
        @include media-breakpoint-down(lg) {
            top: 56px;
        }

        &.green:before {
            transform: rotate(180deg);
            left: auto;
            right: -0.5rem;
        }

        &.violet {
            border-radius: 0 0.313rem 0.313rem 0;
        }

        &.red:before {
            transform: rotate(180deg);
            left: auto;
            right: -0.5rem;
        }

        & + .viewed {
            left: 8rem;
        }

        &.yellow {
            & + .viewed {
                left: 10rem;
            }
        }


    }

    .viewed {
        position: absolute;
        top: 0.5rem;
        left: 0;
        line-height: 1.5rem;
        border-radius: 0.25rem;
        background-color: #f2f3f4;
        font-weight: 600;
        font-size: 0.75rem;
        padding: 0 0.5rem;

        @include media-breakpoint-down(lg) {
            top: 60px;
        }
    }

    .btn-sm {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    .btn-secondary {
        color: $primary;
    }

    .best-comment {
        border-radius: 0.5rem;
        border: 0.063rem solid #f5f5f4;
        position: relative;

        &:before {
            @include pseudo;
            top: -8px;
            left: 20px;
            border: solid #f5f5f4;
            padding: 6px;
            transform: rotate(-45deg);
            border-width: 1px 1px 0 0;
            background: #fff;
        }
    }

    .icon-star {
        fill: $yellow;
    }

    .btn-show-more {
        @include center-x;
        bottom: 0;
        background: #fff;
        width: 3rem;
        height: 1.5rem;
        border: 0.063rem solid #f5f5f4;
        font-size: 0;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .btn:not(.btn-sm) {
        font-size: 1rem;
    }

    .card-options {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
            border-top: 1px solid $gray-300;
            gap: 1rem;
        }

        .btn {
            @include media-breakpoint-down(lg) {
                flex-basis: 100%;
            }
        }

        .option {
            flex-basis: 140px;
            @include media-breakpoint-down(lg) {
                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            dt {
                color: #adb3ba;
                font-size: 0.875rem;
            }
        }

        .link-more {
            @include media-breakpoint-down(lg) {
                margin: auto;
            }
        }

    }

    .fav-compare-buttons {
        display: flex;
        gap: 0.25rem;
        margin-left: auto;
        align-items: center;
        @include media-breakpoint-down(md) {
            gap: 1rem;
            flex-basis: 100%;
        }

        .btn-toggle {
            width: 2rem;
            height: 2rem;
            border-radius: 0.25rem;
            border: 0.063rem solid #f2f3f4;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFF;
            font-size: 0;
            margin-right: auto;

            .arr {
                border: solid #adb3ba;
                border-width: 2px 2px 0 0;
                padding: 3px;
                transform: translateY(0) rotate(135deg);
                border-radius: 2px;
            }

            &.active {
                .arr {
                    transform: translateY(2px) rotate(-45deg);
                }
            }
        }

        .btn-action {
            font-size: 0;
            padding: 0;
            border: 0;
            background: none;
            width: 3rem;
            height: 3rem;
            border-radius: 0.25rem;
            @include media-breakpoint-down(md) {
                width: 1.375rem;
                height: 1.375rem;
            }


            svg {
                stroke: #adb3ba;
            }

            &.active {
                background-color: $secondary;
                @include media-breakpoint-down(md) {
                    background: none;
                }


                svg {
                    stroke: $primary;
                }
            }
        }
    }

    .card-list-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: 0.5rem;

            .btn {
                width: 100%;

                &.btn-secondary {
                    order: 1;
                }

                &.btn-warning {
                    order: 0;
                }
            }
        }

    }

    .col-lg-10 {
        border-left: 1px solid $gray-300;
        @include media-breakpoint-down(lg) {
            border-left: 0 !important;
        }
    }

    &.border-yellow {
        box-shadow: 0 0 0 0.125rem $warning;
    }
}
