.glide__arrows {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 1rem;
    @include media-breakpoint-down(md) {
        display: none;
    }


    .glide__arrow {
        background: none;
        border: none;
        padding: 0;

        svg {
            width: 1rem;
            height: 0.625rem;
            fill: $gray-900
        }


        &.glide__arrow--disabled {
            pointer-events: none;

            svg {
                opacity: 0.2;
            }
        }
    }

    &.v-2 {
        top: auto;
        right: 0;
        left: 0;
        @include center-y;
        @include media-breakpoint-down(md) {
            display: flex;
            transform: none;
            top: -2rem;
        }


        .glide__arrow {
            @include center-y;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 2.5rem;
            border: 0.063rem solid #f5f5f4;
            background-color: #ffffff;
            @include media-breakpoint-down(md) {
                background: none;
                border: none;
                width: auto;
            }


            &.glide__arrow--left {
                left: -1.25rem;


                @include media-breakpoint-down(md) {
                    left: auto;
                    right: 1.75rem;
                }
            }

            &.glide__arrow--right {
                right: -1.25rem;
                @include media-breakpoint-down(md) {
                    right: 0;
                }

            }
        }
    }
}

.news-on-main {
    .glide__arrows.v-2 {
        @include media-breakpoint-down(md) {
            display: flex;
            transform: none;
            top: -0.5rem;
        }

    }
}
