.nav-card {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    overflow: auto;

    .nav-link {
        padding: 0 0 0.25rem 0;
        font-weight: 500;
        position: relative;
        white-space: nowrap;

        &.active {
            color: $dark;

            &:after {
                @include pseudo;
                background: $primary;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
            }
        }
    }
}