.paginate-links {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    a, span {
        border-radius: 0.5rem;
        border: 0.063rem solid #f5f5f4;
        background-color: #ffffff;
        padding: 0.75rem 1.5rem;
        color: $dark;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            background-color: rgba(45, 62, 80, 0.05);
        }
    }

    span {
        border-color: $primary;
        color: #fff;
        background: $primary;
    }
}
