.search-results {
    > div {
        figure {
            width: 6.063rem;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        a:not(.btn) {
            color: $gray-900;
        }

        .rating {
            align-items: center;
            gap: 0.5rem;
            width: 10rem;
            @include media-breakpoint-down(md) {
                width: 8rem;
            }


            .text-gray {
                color: $gray-500;
                font-size: 0.875rem;
                text-decoration: none;
            }

            .icon-star {
                fill: $yellow;
            }
        }
    }
}