.tabs {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    @include media-breakpoint-down(md) {
        gap: 1.5rem;
    }


    button {
        padding: 0 0 0.5rem 0;
        line-height: 1.5rem;
        color: rgba(45, 62, 80, 0.5);
        font-size: 0.875rem;
        position: relative;
        background: none;
        border: none;
        white-space: nowrap;

        &.active {
            font-weight: 500;
            color: $dark;

            &:after {
                @include pseudo;
                height: 2px;
                background: $primary;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
