<footer class="footer">
    <div class="container">
        <div class="copyright">
            &copy; Shadmebel.ru, 2025.<br />
            Все права защищены.<br />
            <a href="http://armavir.pro" target='_blank'>Создание сайта: armavir.pro</a>
        </div>
        <address>
            Адрес: 352290, Краснодарский край, Отрадненский район, ст. Отрадная, ул. Братская, 170<br /><br />
            Тел.: 8 (86144) <b>3-32-32</b>, 8 (86144) <b>3-36-94</b>, 8 (918) <b>100-00-50</b>. E -mail: <a href="mailto:info@shadmebel.ru">info@shadmebel.ru</a>
        </address>
    </div>
</footer>