<footer id="footer" class="mt-auto bg-dark">
    <div class="container py-12">
        <p class="text-light">ООО “Маинд” ОГРН 1197746D9D266 <br>
            117452, г. Москва, Бульвар Черноморский, дом 17, корпус 1, офис 467 <br>
            Находится в реестре операторов, осуществляющих обработку персональных данных, рег. № 77-19-014842, приказ
            №105 от 29.05.2019 г. <br>
            Данное соглашение действует бессрочно и может быть отозвано путем отправки заявления в свободной форме по
            email-адресу <a href="#">otkaz@mail.ru</a> с пометкой в теме “Отказ от сотрудничества”, указав номер
            телефона, на который
            оставлена заявка. <br>
            Сервис бесплатный - за предоставление информации комиссия не взымается. <br>
            <span class="text-white">ВАЖНО: Предоплату берут только мошенники!</span>
        </p>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">О проекте</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Карта сайта</a>
            </li>
        </ul>
        <p class="text-white">Сайт не является представительством МФО или банком, не осуществляет выдачу займов и
            кредитов. Все
            рекомендуемые на сайте кредитные учреждения имеют соответствующие лицензии. Условия неуплаты можно уточнить
            на сайте МФО.</p>
    </div>
    <div class="border-top">
        <div class="container">
            <div class="py-6">
                <img src="img/logo.svg" width="243" height="48" loading="lazy" alt="">
            </div>
        </div>
    </div>
</footer>

