<header id="header" class="bg-primary pt-12 pb-8">
    <div class="container d-flex align-items-center justify-content-between position-relative">
        <div class="logo">
            <img src="img/logo.svg" width="243" height="48" loading="lazy" alt="">
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center text-white">
                <span class="small fw-bolder me-4">Выдано займов сегодня:</span>
                <span class="badge bg-warning">3</span>
                <span class="badge bg-warning">2</span>
                <span class="badge bg-warning">0</span>
            </div>
            <button type="button" class="btn btn-menu ms-8" x-data @click="$store.nav.show()">
                <i class="icon-burger"></i>
            </button>
        </div>
        {% include 'nav.html' %}
    </div>
</header>
