<header class="header">
    <nav class="nav">
        <button type="button" class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <ul class="ul-reset">
            <li><a href="/">Главная</a></li>
            <li><a href="/news/">Новости</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/content/kak-kupit">Как купить</a></li>
            <li><a href="/content/dostavka">Доставка</a></li>
            <li class='active'><a href="/content/price">Прайс-лист</a></li>
            <li><a href="/guestbook">Отзывы</a></li>
            <li><a href="/content/contact">Контакты</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="https://shadmebel.ru/img/logo-2.png?1" width="254" height="113"/></a>
        </div>
        <div class="tel">
            <a href="tel:88614433232">
                <img src="img/icon-tel.png" width="19" height="21" alt="">
                <span>+8 (86144) 33232</span>
            </a>
        </div>
    </div>
</header>