<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>ШАД - мебельная фабрика мебели из массива дерева - Главная</title>
    <meta name="Description" content="мебель из массива кавказкого дуба и бука">
    <meta name="keywords" content="мебель,стул,стол,массив дуба,">
    <link rel="stylesheet" href="https://shadmebel.ru/css/slick.css" />
    <link rel="stylesheet" href="https://shadmebel.ru/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/style.css?1" />
    <link rel="icon" href="https://shadmebel.ru/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://shadmebel.ru/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://shadmebel.ru/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://shadmebel.ru/js/slick.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

    <script type="text/javascript" src="https://shadmebel.ru/js/jquery.fancybox.pack.js"></script>
</head>
<body>
{% include 'header.html' %}
{% block page %}{% endblock %}
{% include 'footer.html' %}


</body>
</html>
