<div class="modal fade show" id="success" style="display: block" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center position-relative">
                <div class="modal-title text-center h3 text-white">Заявка отправлена!</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <svg class="icon-cross">
                        <use href="img/symbol/sprite.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-6">
                <p class="small text-center mb-0">Пожалуйста, ожидайте, <br>
                мы свяжемся с Вами в течение 1 часа!</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>