<div class="modal fade show" id="offer" style="display: block" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary justify-content-center position-relative">
                <div class="modal-title text-center h3 text-white">Ваше персональное предложение</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <svg class="icon-cross">
                        <use href="img/symbol/sprite.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="bg-secondary py-4 px-6">
                    <p class="text-center small mb-0">Вам предварительно одобрили займ в нескольких организациях.
                        Оставьте заявку
                        на каждом сайте и ожидайте перевода денег!</p>
                </div>
                <div class="px-6">
                    <div class="vstack">
                        <div class="offer d-flex align-items-center justify-content-between py-2 border-bottom">
                            <figure class="mb-0">
                                <img src="img/img-card.jpg" alt="">
                            </figure>
                            <span>до 300 000 ₸</span>
                            <a href="#" class="btn btn-warning btn-sm">Получить деньги</a>
                        </div>
                        <div class="offer d-flex align-items-center justify-content-between py-2 border-bottom">
                            <figure class="mb-0">
                                <img src="img/img-card.jpg" alt="">
                            </figure>
                            <span>до 300 000 ₸</span>
                            <a href="#" class="btn btn-warning btn-sm">Получить деньги</a>
                        </div>
                        <div class="offer d-flex align-items-center justify-content-between py-2 border-bottom">
                            <figure class="mb-0">
                                <img src="img/img-card.jpg" alt="">
                            </figure>
                            <span>до 300 000 ₸</span>
                            <a href="#" class="btn btn-warning btn-sm">Получить деньги</a>
                        </div>
                        <div class="offer d-flex align-items-center justify-content-between py-2">
                            <figure class="mb-0">
                                <img src="img/img-card.jpg" alt="">
                            </figure>
                            <span>до 300 000 ₸</span>
                            <a href="#" class="btn btn-warning btn-sm">Получить деньги</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-6 justify-content-center bg-secondary">
                <div class="h6 mb-3">Оставьте свои данные и мы поможем Вам получить деньги!</div>
                <form action="#" method="post" class="row gx-4">
                    <div class="col">
                        <input class="form-control" type="text" name="name" placeholder="Ваше имя" aria-label="Ваше имя">
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="name" placeholder="Ваш телефон" aria-label="Ваш телефон">
                    </div>
                    <div class="col d-flex flex-column">
                        <a href="#" class="btn btn-primary btn-sm w-100">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>