<nav id="nav" class="bg-white p-6" x-data x-show="$store.nav.isOpen"  x-transition @click.outside="$store.nav.hide()" x-cloak>
    <div class="row row-cols-md-2 row-cols-lg-3 g-6">
        {% for i in range(0, 6) %}
            <div class="col">
                <div class="h6 mb-4">Заемщикам</div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Безработным</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Студентам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Пенсионерам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Без поручителей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Без справки о доходах</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Без подтверждения дохода</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">С плохой кредитной историей</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <button x-data
            @click="$store.nav.hide()"
            type="button"
            class="btn-close position-absolute top-0 end-0 m-6"
            aria-label="Close"></button>
</nav>