.compare-cards {
    padding-bottom: 1.25rem;

    .card-group {
        flex-wrap: nowrap;

        .card-compare {
            flex: 0 0 291px;

            .btn-remove-card {
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 0.25rem;
                background-color: #f2f3f4;
                top: 1rem;
                right: 1rem;
                border: none;
                padding: 0;
                font-size: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;

                .icon-cross {
                    width: 0.625rem;
                    height: 0.625rem;
                    stroke-width: 2px;
                }
            }
        }
    }

    &.os-host-resize-disabled.os-host-scrollbar-vertical-hidden > .os-scrollbar-horizontal {
        bottom: 0;
        left: 0;
        right: 0;
    }
}
