#author {
    position: relative;
    padding-left: 9.5rem;
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }

    h1 {
        @include media-breakpoint-down(md) {
            text-align: center;
        }

    }

    p, ul {
        font-size: 1rem;
    }

    .text-gray {
        color: #969fa8;
    }

    figure {
        position: absolute;
        top: 0;
        left: 0;
        @include media-breakpoint-down(md) {
            position: static;
        }


        img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            @include media-breakpoint-down(md) {
                width: 6rem;
                height: 6rem;
            }

        }
    }

    .status {
        display: block;
        width: max-content;
        line-height: 1.5rem;
        border-radius: 0.25rem;
        background-color: #e6f7fa;
        padding: 0 0.5rem;
        color: #00afca;
        font-size: 0.875rem;
        @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
        }

    }

    .social-links {
        text-align: center;
        justify-content: center;
    }

    .docs {
        line-height: 14.5rem;
        border-radius: 0.25rem;
        border: 0.063rem solid #f2f3f4;
        font-size: 0;
        text-align: center;
        padding: 1rem;

        img {
            width: 100%;
            height: auto;
        }
    }
}