.comments-listing {
    overflow: hidden;
    max-height: 636px;
    position: relative;

    .comments-listing-grid {
        column-count: 2;
        column-gap: 1.5rem;
        @include media-breakpoint-down(lg) {
            column-count: 1;
        }
    }

    .comment {
        background: #fff;
        border-radius: 0.5rem;
        display: inline-block;
        width: 100%;
        margin: 0.75rem 0;

        .comment-post {
            @include flex;
            gap: 1rem;

            figure {
                img {
                    width: 5rem;
                    height: auto;
                }
            }

            .icon-star {
                fill: $yellow;
            }

            .small {
                color: rgba(45, 62, 80, 0.5);

                a {
                    color: rgba(45, 62, 80, 0.5);
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    > .btn {
        @include center-x;
        bottom: 0;
        z-index: 10;
        font-size: 1rem;
    }

    &:after {
        @include pseudo;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(180deg, rgba(241, 248, 249, 0) 0%, #F1F8F9 57.81%)
    }

    &.open {
        max-height: 3000px;

        &:after {
            display: none;
        }
    }
}