.comments {
    .comment {
        .comment-text-with-icon {
            padding-left: 2rem;

            .icon {
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: 0;
                width: 1.125rem;
                height: 1.125rem;
                line-height: 1.12rem;
                text-align: center;
                font-size: 0;
            }
        }

        .comment-likes {
            margin-top: 1rem;

            button {
                padding: 0;
                background: none;
                border: 0;
            }
        }

        &:last-child {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            border: none !important;
        }
    }

    .btn-outline-dark {
        border-color: #f5f5f4;

        &:hover {
            border-color: #2d3e50;
        }
    }
}

.comments-sort {
    display: flex;
    gap: 2rem;

    .dropdown-toggle {
        position: relative;
        background: none;
        padding: 0 2rem 0 0;
        border: none;
        font-size: 0.875rem;
        font-weight: 500;

        &:after {
            @include center-y;
            right: 0;
            width: auto;
            height: auto;
            background: none;
            border: solid $primary;
            border-width: 0 0 2px 2px;
            padding: 3px;
            transform: rotate(-45deg);
            margin-top: -6px;
        }
    }
}