.comments {
    .comment {
        .comment-text-with-icon {
            padding-left: 2rem;

            .icon {
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: 0;
                width: 1.125rem;
                height: 1.125rem;
                line-height: 1.12rem;
                text-align: center;
                font-size: 0;
            }
        }

        .comment-likes {
            margin-top: 1rem;

            button {
                padding: 0;
                background: none;
                border: 0;
            }
        }
    }

    .btn-outline-dark {
        border-color: #f5f5f4;

        &:hover {
            border-color: #2d3e50;
        }
    }
}