.comments {
    .comment {
        .comment-head {
            .vr, time {
                color: $gray-500;
            }
        }

        .comment-text-with-icon {
            padding-left: 2rem;

            .icon {
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: 0;
                width: 1.125rem;
                height: 1.125rem;
                line-height: 1.125rem;
                text-align: center;
                font-size: 0;
            }
        }

        .comment-gallery {
            img {
                width: 120px;
                height: auto;
            }
        }

        .btn-answer {
            background: none;
            border: none;
            padding: 0;
            color: $gray-500;
            font-size: 0.875rem;
        }

        &:last-child {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            border-bottom: none !important;
        }

        &.is-company {
            .comment-wrap {
                background: $secondary;
                padding: 1.25rem;
                position: relative;
                border-radius: $border-radius;
                display: flex;
                gap: 1rem;

                .comment-avatar {
                    flex-shrink: 0;

                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .comment-author-status {
                    line-height: 1.5rem;
                    border-radius: 0.25rem;
                    background-color: #ffffff;
                    padding: 0 .5rem;
                    font-size: 0.75rem;
                    color: $primary;
                }

                &:before {
                    @include pseudo;
                    border: 0.75rem solid;
                    border-color: transparent transparent $secondary transparent;
                    top: -1.5rem;
                }
            }
        }
    }

    .btn-outline-dark {
        border-color: #f5f5f4;

        &:hover {
            border-color: #2d3e50;
        }
    }
}

.comments-sort {
    display: flex;
    gap: 2rem;

    .dropdown-toggle {
        position: relative;
        background: none;
        padding: 0 2rem 0 0;
        border: none;
        font-size: 0.875rem;
        font-weight: 500;

        &:after {
            @include center-y;
            right: 0;
            width: auto;
            height: auto;
            background: none;
            border: solid $primary;
            border-width: 0 0 2px 2px;
            padding: 3px;
            transform: rotate(-45deg);
            margin-top: -6px;
            transition: 0.3s all;
        }

        &.show {
            &:after {
                margin-top: 0;
                transform: rotate(135deg);
            }
        }
    }

    .dropdown-menu {
        width: 15rem;
        border-radius: 0.5rem;
        background-color: #ffffff;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        left: -1rem;
        margin-top: 0.25rem;
        padding: 0;

        li {
            input {
                & + label {
                    padding: 0.75rem 1rem;
                    font-size: 0.875rem;
                    font-weight: 500;
                    display: block;
                    cursor: pointer;
                }

                &:checked + label {
                    cursor: default;
                    background-color: #f5f5f4;
                }
            }
            &:hover {
                background-color: #f5f5f4;
            }
        }
    }
}

.add-comment {
    .icon-cross {
        cursor: pointer;
    }

    .images {
        div {
            position: relative;

            .btn-remove-img {
                width: 1rem;
                height: 1rem;
                border-radius: 0.25rem;
                background-color: #ffffff;
                position: absolute;
                top: 0.25rem;
                right: 1rem;
                border: none;
                padding: 0;
                font-size: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-cross {
                    width: 0.625rem;
                    height: 0.625rem;
                }
            }
        }
    }
}

#comments {
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;

        .btn {
            width: 100%;
            margin-top: 0.5rem;
        }
    }
}
