.contact-form {
    position: absolute;
    width: 100%;
    max-width: 21.688rem;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(xl) {
        position: static;
        margin-top: 2rem;
    }

    .form-control {
        background-color: #f1f8f9;
        padding: 0.75rem 1rem;
    }

    textarea.form-control {
        height: 9rem;
    }

    .btn {
        margin-top: auto;
    }
}