#nav {

    .nav {
        &-item {
            & + .nav-item {
                margin-top: 0.75rem;
            }
        }

        &-link {
            font-size: 0.875rem;
            padding: 0;
        }
    }
}
