.promocodes-coupones {
    .card-promo-code {
        display: flex;
        flex-direction: row;
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }


        .c-col-1 {
            flex-basis: 10rem;
            padding: 2.5rem 1rem 1rem 1rem;
            text-align: center;
            border-right: 1px solid $secondary;
            flex-shrink: 0;
            @include media-breakpoint-down(md) {
                border-right: 0;
                border-bottom: 1px solid $secondary;
                flex-basis: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
            }




            .likes {
                justify-content: center;
            }
        }

        .c-col-2 {
            flex: auto;
            padding: 1rem 2rem;
            @include media-breakpoint-down(md) {
                padding: 1rem;
            }


            .h6, h6 {
                line-height: 1.5rem;
            }

            .text {
                color: $gray-500;
                overflow: hidden;
                max-height: 42px;

                p:last-child {
                    margin-bottom: 0;
                }

                &.show {
                    max-height: 1000px;
                }
            }

            .btn-text-toggle {
                padding: 0;
                border: none;
                background: none;
                color: $primary;
                font-size: 0.875rem;
            }
        }

        .c-col-3 {
            flex-shrink: 0;
            flex-basis: 15rem;
            padding: 2.5rem 2rem 1rem 2rem;
            text-align: center;
            border-left: 3px dotted $secondary;
            position: relative;

            @include media-breakpoint-down(md) {
                border-left: 0;
                border-top: 3px dotted $secondary;
                flex-basis: 100%;
                padding: 1.5rem 2rem;
            }


            .btn {
                padding: 0.5rem 0;
                font-size: 0.875rem;

                &.code {
                    border-radius: 0.25rem;
                    border: 1px dashed #ced6e0;
                    width: 100%;
                    text-align: right;
                    padding-right: 0.75rem;
                }

                &.btn-code {
                    position: absolute;
                    right: 4rem;
                    left: 2rem;
                    top: 2.5rem;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    transition: none;
                    @include media-breakpoint-down(md) {
                        top: 1.5rem;
                    }


                    &:before {
                        @include pseudo;
                        right: -24px;
                        top: 0;
                        border-width: 41px 0 0 24px;
                        border-style: solid;
                        border-color: transparent transparent transparent $warning;
                    }

                    &:after {
                        @include pseudo;
                        background: url("../img//icon-corner.svg") no-repeat;
                        width: 1.875rem;
                        height: 2.5rem;
                        top: 0;
                        right: -22px;
                    }

                    &:hover {
                        &:before {
                            border-color: transparent transparent transparent #fe9d0c;
                        }
                    }
                }
            }

            small {
                color: rgba(45, 62, 80, 0.5);
                font-size: 0.75rem;
            }

            &:before, &:after {
                @include pseudo;
                width: 20px;
                height: 20px;
                left: -11px;
                background: $secondary;
                border-radius: 50%;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
                @include media-breakpoint-down(md) {
                    top: -10px;
                    bottom: auto;
                    left: auto;
                    right: -11px;
                }

            }
        }
    }
}
