#search {
    position: fixed;
    width: 47.813rem;
    top: 148px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 0.063rem solid #f5f5f4;
    background-color: #ffffff;
    z-index: 1033;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        top: 0;
        width: 100%;
        border-radius: 0;
    }


    .icon-search {
        @include center-y;
        stroke: #adb3ba;
        left: 1.75rem;
        @include media-breakpoint-down(md) {
            left: 1rem;
        }

    }

    input {
        background: #fff;
        height: 4.5rem;
        padding-left: 3.75rem;
        width: 100%;
        border: none;
        outline: none;
        @include media-breakpoint-down(md) {
            height: 3.75rem;
            padding-left: 3rem;
            font-size: 0.875rem;
        }

    }

    .btn-search-close {
        background: none;
        padding: 0;
        border: 0;
        @include center-y;
        right: 1.75rem;
        @include media-breakpoint-down(md) {
            right: 1rem;
        }

    }

    .search-results {
        > div {
            figure {
                width: 6.063rem;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            a:not(.btn) {
                color: $gray-900;
            }

            .rating {
                align-items: center;
                gap: 0.5rem;
                width: 10rem;
                @include media-breakpoint-down(md) {
                    width: 8rem;
                }


                .text-gray {
                    color: $gray-500;
                    font-size: 0.875rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .icon-star {
                    fill: $yellow;
                }
            }
        }
    }


}
