.alert {
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    position: relative;
    @include media-breakpoint-down(md) {
        padding: 1rem;
    }


    .icon-alert {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        @include media-breakpoint-down(md) {
            display: block;
            position: sticky;
            margin-bottom: 0.5rem;
        }
    }
}
