.btn {
    line-height: 1.5rem;

    &.btn-warning {
        color: #fff;

        &:hover {
            background-color: #fe9d0c;
            border-color: #fe9d0c;
        }
    }

    &.btn-primary {
        color: #fff;

        &:hover {
            background-color: #229aac;
            border-color: #229aac;
        }
    }

    &.btn-white {
        background: #fff;
        color: $primary;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }

    &.btn-outline-light {
        border: 1px solid #f5f5f4;
        color: #adb3ba;

        &:hover {
            color: #FFF;
            border-color: #6c757d;
        }
    }

    &.btn-in-content {
        display: block;
        width: 75%;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

    }
}
