.card-author {
    text-align: center;
    align-items: center;

    figure {
        img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            @include media-breakpoint-down(md) {
                width: 4rem;
                height: 4rem;
            }

        }
    }

    a.h5 {
        color: $dark;
        font-weight: 600;
    }

    .card-status {
        display: inline-block;
        width: max-content;
        line-height: 1.5rem;
        border-radius: 0.25rem;
        background-color: #e6f7fa;
        padding: 0 0.5rem;
        color: #00afca;
        font-size: 0.75rem;
    }
}