.card-post-in-content {
    flex-direction: row;
    align-items: center;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        flex-wrap: wrap;
    }


    figure {
        width: 10rem;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    time {
        display: block;
        margin-bottom: 0.5rem;
        color: $gray-500;
        font-size: 0.875rem;
    }

    a.card-title {
        display: block;
        font-weight: 600;
        color: $dark;
        white-space: normal;
        margin-bottom: 0;
        border-bottom: none !important;

        &:hover {
            text-decoration: underline;
        }
    }

    &.v-2 {
        figure {
            width: 7.75rem;
        }
    }
}
