.card-sticky {
    position: fixed;
    width: 16.25rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);

    small {
        color: rgba(45, 62, 80, 0.5);
        font-size: 0.625rem;
    }

    .btn-close {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        padding: 0;
        background-repeat: no-repeat;

        .icon-cross {
            background-repeat: no-repeat;
            width: 0.25rem;
            height: 0.25rem;
        }
    }
}