.link-back {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: #fff;
    font-size: 0.875rem;

    svg {
        fill: $warning;
        width: 1rem;
        height: 0.625rem;
    }

    &:hover {
        color: #fff;
    }

    &.blue {
        color: $primary;

        svg {
            fill: $primary;
        }
    }
}
