.list-thumbs {
    margin-bottom: 0;

    li {
        display: flex;
        align-items: center;
        gap: 1rem;
        line-height: 1.2;

        svg {
            flex-shrink: 0;
        }

        span {
            font-size: 0.875rem;
        }

        & + li {
            margin-top: 0.75rem;
        }
    }
}