@include media-breakpoint-up(xxl) {
    .container {
        max-width: 1190px;
    }
}

.bg-map {
    position: relative;

    > .container {
        position: relative;
        z-index: 100;
    }

    &:before {
        @include pseudo;
        @include center-x;
        background: url("../img//bg-map.svg") no-repeat center;
        width: 666px;
        height: 317px;
        top: -4rem;
        @include media-breakpoint-down(md) {
            width: 100%;
        }

    }
}

.fw-medium {
    font-weight: 500;
}

.bg-with-girl {
    background: url("../img//bg-girl.png") no-repeat right bottom $secondary;
    @include media-breakpoint-down(lg) {
        background: $secondary;
    }

}


[x-cloak] {
    display: none !important;
}

a.link-light {
    text-decoration: none !important;
    border-bottom: 1px solid rgba($light, 0.4);

    &:hover {
        border-color: transparent;
    }
}


.link-up {
    @include flex;
    gap: 0.5rem;
    position: absolute;
    top: 1.44rem;
    right: 1.5rem;
    font-size: 0.875rem;
}

#overlay {
    position: fixed;
    inset: 0;
    z-index: 1032;
    background-color: rgba(0, 0, 0, 0.5);
}

.link-with-angle {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    .angle {
        border: solid $primary;
        padding: 3px;
        transform: rotate(-45deg);

        &.left {
            border-width: 2px 0 0 2px;
        }

        &.right {
            border-width: 0 2px 2px 0;
        }

        &.up {
            border-width: 2px 2px 0 0;
        }
    }

    &.text-gray {
        color: #adb3ba;

        .angle {
            border-color: inherit;
        }
    }
}

.calc {
    .h1 {
        font-size: 2.5rem;
    }

    .text-gray {
        color: $gray-500;
    }

    .col {
        .btn {
            @include center-x;
            bottom: -18px;
            white-space: nowrap;
        }
    }

    .border-bottom {
        border-color: #FFF !important;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-gray {
    color: #969fa8;
}