@include media-breakpoint-up(xxl) {
    .container {
        max-width: 1190px;
    }
}

.bg-map {
    position: relative;

    > .container {
        position: relative;
        z-index: 1;
    }

    &:before {
        @include pseudo;
        @include center-x;
        background: url("../img/bg-map.svg") no-repeat center;
        width: 666px;
        height: 317px;
        top: -4rem;
        @include media-breakpoint-down(md) {
            width: 100%;
        }

    }
}

.fw-medium {
    font-weight: 500;
}

.bg-with-girl {
    background: url("../img/bg-girl.png") no-repeat right bottom $secondary;
    @include media-breakpoint-down(lg) {
        background: $secondary;
    }

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.h1, h1 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

.h5, h5 {
    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
}

[x-cloak] {
    display: none !important;
}

.display-1 {
    @include media-breakpoint-down(md) {
        font-size: 1.375rem;
    }
}