.icon-size {
    width: 1.375rem;
    height: 1.375rem;
}

.stroke-primary {
    fill: none;
    stroke: $primary;
    stroke-width: 2px;
}

.icon-pencil {
    width: 0.75rem;
    height: 0.75rem;
    fill: #adb3ba;
}

.icon-star {
    width: 0.875rem;
    height: 0.938rem;
}

.icon-tick {
    width: 0.875rem;
    height: 0.625rem;
    fill: #f9af42;
}