.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.h1, h1 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

.h5, h5 {
    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
}

.display-1 {
    @include media-breakpoint-down(md) {
        font-size: 1.375rem;
    }
}