{% extends "layout.html" %}

{% block page %}
    <div class="bg-primary bg-map py-12 d-flex flex-column align-self-auto">
        <div class="container text-center">
            <figure>
                <img src="img/img-404.png" width="480" height="280" loading="lazy" alt="" class="img-fluid">
            </figure>
            <p class="text-white mb-6 small">К сожалению, запрашиваемая страница не найдена, <br>
                но есть другие, тоже хорошие.</p>
            <a href="#" class="link-back">
                <svg class="icon-arr-prev fill-warning">
                    <use href="img/symbol/sprite.svg#icon-arr-prev"></use>
                </svg>
                <span>Вернуться на главную</span>
            </a>
        </div>
    </div>
{% endblock %}

