{% extends "layout.html" %}

{% block page %}
    <div class="py-12">
        <div class="container">
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb breadcrumb-dark mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Займы</li>
                </ol>
            </nav>
            <article class="article" id="author">
                <figure>
                    <img src="img/img-author-avatar.jpg" width="128" height="128" alt="">
                </figure>
                <h1 class="mb-2">Ольга Станчак</h1>
                <div class="status mb-4 mb-md-5">
                    Кредитный эксперт
                </div>
                <p class="social-links mb-6 mb-md-8">social links</p>
                <div class="h5">Биография</div>
                <p>Карьеру в банковской сфере начала в 2006 году с Инвестсбербанка (нынешний ОТП Банк), где занимала
                    должность главного специалиста кредитного отдела ДО. В 2009 году перешла в СберБанк на должность
                    андеррайтера. С 2019 года - работает экспертом по карточным продуктам в Банки.ру.</p>
                <div class="h5">Образование</div>
                <ul>
                    <li>
                        <p class="mb-0">Московский институт банковского дела по направлению “Экономика”</p>
                        <p class="mb-0"><span class="text-gray">2001 — 2006</span></p>
                    </li>
                </ul>
                <div class="h5">Карьера</div>
                <ul>
                    <li>
                        <p class="mb-0">Газета.ru</p>
                        <p class="mb-0"><span class="text-gray">02.2005 — 09.2007</span></p>
                    </li>
                </ul>
                <div class="h6 mb-4">Дипломы и сертификаты</div>
                <div class="docs">
                    <a href="#" class="doc"><img src="img/img-doc.jpg" alt=""></a>
                </div>
            </article>

        </div>
    </div>
    <div class="bg-primary bg-opacity-10 py-6 py-md-12">
        <div class="container">
            <div class="h1 mb-6">Другие авторы</div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="card card-author p-4 p-md-6">
                        <figure>
                            <img src="img/img-author-avatar.jpg" alt="">
                        </figure>
                        <a href="#" class="h5">Наталья Мильчакова</a>
                        <div class="card-status">Руководитель отдела арбитража</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

