{% extends "layout-2.html" %}

{% block page %}

<div class="main container clr">
    <div class="path">
        <a href="/">Главная</a> &gt; Каталог продукции        </div>
    <article class="article">
        <section class="catalog">
            <header class="title">
                Каталог продукции
            </header>
            <ul id="tabs" class="ul-reset">
                <li class="active">Кухни</li>
                <li>Кровати</li>
                <li>Столы, стулья</li>
                <li>Мягкая мебель</li>
            </ul>
            <div class="box visible clr">
                <div class="item">
                    <figure>
                        <a href="/catalog-2/12.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/12/thumbs_1464018396.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-2/12.html">Кухня "Изабель"</a>
                    </div>
                    <a href="/catalog-2/12.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-2/13.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/13/thumbs_1464018804.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-2/13.html">Кухня "Прадо"</a>
                    </div>
                    <a href="/catalog-2/13.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-2/11.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/11/thumbs_1464018280.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-2/11.html">Кухня "Валенсия"</a>
                    </div>
                    <a href="/catalog-2/11.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-2/10.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/10/thumbs_1464017829.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-2/10.html">Кухня "Прага"</a>
                    </div>
                    <a href="/catalog-2/10.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-2/9.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/9/thumbs_1464017700.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-2/9.html">Кухня "Венеция"</a>
                    </div>
                    <a href="/catalog-2/9.html" class="btn btn-order">Подробнее</a>
                </div>
            </div>
            <div class="box">
                <div class="item">
                    <figure>
                        <a href="/catalog-1/39.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/39/thumbs_1464027348.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-1/39.html">Системы хранения одежды</a>
                    </div>
                    <a href="/catalog-1/39.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-1/40.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/40/thumbs_1464027590.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-1/40.html">Спальня</a>
                    </div>
                    <a href="/catalog-1/40.html" class="btn btn-order">Подробнее</a>
                </div>
            </div>
            <div class="box">
                <div class="item">
                    <figure>
                        <a href="/catalog-4/73.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/73/thumbs_1521461437.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/73.html">Стол Милорд овальный 90х150х200(100х200х250)</a>
                    </div>
                    <a href="/catalog-4/73.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/21.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/21/thumbs_1521463330.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/21.html">Стол Милорд 110х260х330(100х200х250"+")</a>
                    </div>
                    <a href="/catalog-4/21.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/22.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/22/thumbs_1464022393.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/22.html">Стол Милорд круглый D 160</a>
                    </div>
                    <a href="/catalog-4/22.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/23.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/23/thumbs_1521464079.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/23.html">Стол Милорд 80х130х180(90х150х200)</a>
                    </div>
                    <a href="/catalog-4/23.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/24.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/24/thumbs_1521804669.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/24.html">Стол Милорд круглый 90х120</a>
                    </div>
                    <a href="/catalog-4/24.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/25.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/25/thumbs_1521803533.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/25.html">Стол Милорд круглый 100х140</a>
                    </div>
                    <a href="/catalog-4/25.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/74.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/74/thumbs_1521805389.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/74.html">Стол Милорд овальный 90х170х220</a>
                    </div>
                    <a href="/catalog-4/74.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/77.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/77/thumbs_1521806125.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/77.html">Стол Милорд прямоугольный 70х110х140(80х120х170)(90х155х205)</a>
                    </div>
                    <a href="/catalog-4/77.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/78.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/78/thumbs_1521806629.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/78.html">Стол Верона 90х150х200</a>
                    </div>
                    <a href="/catalog-4/78.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/75.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/75/thumbs_1521805603.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/75.html">Стол Милорд круглый 110х160</a>
                    </div>
                    <a href="/catalog-4/75.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/76.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/76/thumbs_1521805923.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/76.html">Стол Азия 106х160х200х240</a>
                    </div>
                    <a href="/catalog-4/76.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/93.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/93/thumbs_1526554818.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-4/93.html">Журнальный стол-Верона"Т"</a>
                    </div>
                    <a href="/catalog-4/93.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/91.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/91/thumbs_1526554336.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-4/91.html">Журнальный стол-Верона</a>
                    </div>
                    <a href="/catalog-4/91.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/92.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/92/thumbs_1526554672.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-4/92.html">Журнальный стол-Верона"В"</a>
                    </div>
                    <a href="/catalog-4/92.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/94.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/94/thumbs_1526997887.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-4/94.html">Журнальный стол-Миледи</a>
                    </div>
                    <a href="/catalog-4/94.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/26.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/26/thumbs_1521809303.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/26.html">Стул Милорд №1</a>
                    </div>
                    <a href="/catalog-4/26.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/27.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/27/thumbs_1521809952.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/27.html">Стул Милорд №2</a>
                    </div>
                    <a href="/catalog-4/27.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/28.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/28/thumbs_1521810342.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/28.html">Стул Милорд №2S</a>
                    </div>
                    <a href="/catalog-4/28.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/29.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/29/thumbs_1521810669.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/29.html">Стул Милорд №3</a>
                    </div>
                    <a href="/catalog-4/29.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/30.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/30/thumbs_1521811019.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/30.html">Стул Милорд №4</a>
                    </div>
                    <a href="/catalog-4/30.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/31.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/31/thumbs_1521811279.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/31.html">Стул Милорд №5</a>
                    </div>
                    <a href="/catalog-4/31.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/32.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/32/thumbs_1521811531.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/32.html">Стул Милорд №6</a>
                    </div>
                    <a href="/catalog-4/32.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/33.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/33/thumbs_1521811807.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/33.html">Стул Милорд №7</a>
                    </div>
                    <a href="/catalog-4/33.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/34.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/34/thumbs_1521812056.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/34.html">Стул Милорд №8</a>
                    </div>
                    <a href="/catalog-4/34.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/35.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/35/thumbs_1521812431.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/35.html">Стул Милорд №9</a>
                    </div>
                    <a href="/catalog-4/35.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/36.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/36/thumbs_1521812694.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/36.html">Стул Милорд №10</a>
                    </div>
                    <a href="/catalog-4/36.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/82.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/82/thumbs_1521815827.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/82.html">Стул Милорд №11</a>
                    </div>
                    <a href="/catalog-4/82.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/79.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/79/thumbs_1521814316.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/79.html">Кресло Милорд №11S</a>
                    </div>
                    <a href="/catalog-4/79.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/83.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/83/thumbs_1521816418.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/83.html">Стул Милорд №12</a>
                    </div>
                    <a href="/catalog-4/83.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/84.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/84/thumbs_1521816643.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/84.html">Стул Милорд №13</a>
                    </div>
                    <a href="/catalog-4/84.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/80.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/80/thumbs_1521814591.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/80.html">Кресло Милорд №13S</a>
                    </div>
                    <a href="/catalog-4/80.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/85.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/85/thumbs_1521816808.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/85.html">Стул Милорд №14</a>
                    </div>
                    <a href="/catalog-4/85.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/81.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/81/thumbs_1521814895.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/81.html">Кресло Милорд №14S</a>
                    </div>
                    <a href="/catalog-4/81.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-4/37.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/37/thumbs_1521813442.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-4/37.html">Кресло "Бабочка"</a>
                    </div>
                    <a href="/catalog-4/37.html" class="btn btn-order">Подробнее</a>
                </div>
            </div>
            <div class="box">
                <div class="item">
                    <figure>
                        <a href="/catalog-5/88.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/88/thumbs_1522672923.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/88.html">Мягкий набор "Реклайнер"</a>
                    </div>
                    <a href="/catalog-5/88.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/89.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/89/thumbs_1522673080.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/89.html">Мягкий набор "Харви"</a>
                    </div>
                    <a href="/catalog-5/89.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/86.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/86/thumbs_1522671617.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/86.html">Мягкий набор "Мадонна"</a>
                    </div>
                    <a href="/catalog-5/86.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/87.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/87/thumbs_1522672784.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/87.html">Мягкий набор "Премьер"</a>
                    </div>
                    <a href="/catalog-5/87.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/95.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/95/thumbs_1527686114.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-5/95.html">Классик 2</a>
                    </div>
                    <a href="/catalog-5/95.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/96.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/96/thumbs_1527686275.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="sticker">
                        <img src="/img/icon-new.png" width="69" height="68" />
                    </div>
                    <div class="item-title">
                        <a href="/catalog-5/96.html">Классик 1</a>
                    </div>
                    <a href="/catalog-5/96.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/90.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/90/thumbs_1524905824.JPG" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/90.html">Мягкий набор"Харви с оттоманкой"</a>
                    </div>
                    <a href="/catalog-5/90.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/43.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/43/thumbs_1522667953.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/43.html">Мягкий набор "Лолита"</a>
                    </div>
                    <a href="/catalog-5/43.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/49.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/49/thumbs_1522668280.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/49.html">Мягкий набор "Данко"</a>
                    </div>
                    <a href="/catalog-5/49.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/50.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/50/thumbs_1522668456.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/50.html">Мягкий набор "Честер"</a>
                    </div>
                    <a href="/catalog-5/50.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/51.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/51/thumbs_1522668615.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/51.html">Мягкий набор "Уют"</a>
                    </div>
                    <a href="/catalog-5/51.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/55.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/55/thumbs_1522668898.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/55.html">Мягкий набор "Идея"</a>
                    </div>
                    <a href="/catalog-5/55.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/56.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/56/thumbs_1522669093.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/56.html">Мягкий набор "Венеция"</a>
                    </div>
                    <a href="/catalog-5/56.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/57.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/57/thumbs_1522669426.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/57.html">Мягкий набор "Венеция 2"</a>
                    </div>
                    <a href="/catalog-5/57.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/59.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/59/thumbs_1522669711.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/59.html">Мягкий набор "Эвелина"</a>
                    </div>
                    <a href="/catalog-5/59.html" class="btn btn-order">Подробнее</a>
                </div>
                <div class="item">
                    <figure>
                        <a href="/catalog-5/67.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/67/thumbs_1522669888.jpg" border="0" alt="" ></a>
                    </figure>
                    <div class="item-title">
                        <a href="/catalog-5/67.html">Кровать "Круглая"</a>
                    </div>
                    <a href="/catalog-5/67.html" class="btn btn-order">Подробнее</a>
                </div>
            </div>
        </section>        </article>
</div>
<div class="map"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KxsY8IzttEpRNdKwge52meFvBImuXMrh&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script></div>
{% endblock %}
