{% extends "layout.html" %}

{% block page %}
    <div class="py-12">
        <div class="container">
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb breadcrumb-dark mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Займы</li>
                </ol>
            </nav>
            <h1 class="mb-8">Займы по городам</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                {% for i in range(0, 4) %}
                    <div class="col">
                        {% for j in range(0, 4) %}
                            <ul class="list-unstyled small d-flex flex-column gap-2 mb-6">
                                <li class="fw-medium">А</li>
                                <li><a href="#">Абакан</a></li>
                                <li><a href="#">Альметьевск</a></li>
                                <li><a href="#">Архангельск</a></li>
                                <li><a href="#">Астрахань</a></li>
                            </ul>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

