{% extends "layout.html" %}

{% block page %}
    <ul class="container py-6">
        <li class="mt-1"><a href="main.html">Главная</a></li>
        <li class="mt-1"><a href="modal-offer.html">Ваше персональное предложение</a></li>
        <li class="mt-1"><a href="modal-success.html">Заявка отправлена</a></li>
        <li class="mt-1"><a href="zaim.html">Займ</a></li>
        <li class="mt-1"><a href="zaim-review.html">Займ отзыв</a></li>
        <li class="mt-1"><a href="producty.html">Продукты</a></li>
        <li class="mt-1"><a href="goroda.html">Города</a></li>
        <li class="mt-1"><a href="kontakty.html">Контакты</a></li>
        <li class="mt-1"><a href="404.html">404</a></li>
        <li class="mt-1"><a href="otzyvy.html">Отзывы</a></li>
    </ul>
{% endblock %}
