{% extends "layout.html" %}

{% block page %}
<div class="category container">
    <ul class="ul-reset clr">
        <li>
            <img src="https://shadmebel.ru/img/img-c-2.jpg" width="186" height="136"/>
            <a href="cat-2" class="link-cat">Кухни</a>
        </li>
        <li>
            <img src="https://shadmebel.ru/img/img-c-1.jpg" width="186" height="136"/>
            <a href="cat-1" class="link-cat">Кровати</a>
        </li>
        <li>
            <img src="https://shadmebel.ru/img/img-c-4.jpg" width="186" height="136"/>
            <a href="cat-4" class="link-cat">Столы, стулья</a>
        </li>
        <li>
            <img src="https://shadmebel.ru/img/img-c-5.jpg" width="186" height="136"/>
            <a href="cat-5" class="link-cat">мягкая мебель</a>
        </li>
    </ul>
</div>
<article class="about-text text-center">
    <div class="container">
        <h2 class="title">О компании</h2>
        <p>Мебельная фабрика &laquo;ШАД&raquo; специализируется на производстве мебели из древесного массива. Наше предприятие расположено в живописном уголке Юга России - предгорьях Северного Кавказа Мы имеем собственную сырьевую базу и используем
            древесину твердых пород Кавказского леса.</p>

        <p>Производственные цеха нашей компании оснащены современным деревообрабатывающим и швейным оборудованием. В процессе производства нами учитываются современные тенденции в дизайне мебели и тканей, а также потребности и рекомендации наших
            покупателей Вся продукция компании сертифицирована и отвечает высоким стандартам качества.</p>

        <p>Мебельная фабрика &laquo;ШАД&raquo; имеет собственные салоны мебели, а также развитую региональную дилерскую сеть.</p>

        <p>Для оптовых покупателей мы предлагаем поставку по оптовым ценам с прогрессивной системой скидок. Возможны различные формы оплаты. Дилеров мы обеспечиваем сопутствующими POS - материалами (каталоги, постеры, баннеры, рекламная информация) в
            электронном виде.</p>

    </div>
</article>
<section class="catalog container">
    <header class="title">
        Каталог продукции
    </header>
    <ul id="tabs" class="ul-reset">
        <li class="active">Кухни</li>
        <li>Кровати</li>
        <li>Столы, стулья</li>
        <li>Мягкая мебель</li>
    </ul>
    <div class="box visible clr">
        <div class="item">
            <figure>
                <a href="/catalog-2/12.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/12/thumbs_1464018396.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-2/12.html">Кухня "Изабель"</a>
            </div>
            <a href="/catalog-2/12.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-2/13.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/13/thumbs_1464018804.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-2/13.html">Кухня "Прадо"</a>
            </div>
            <a href="/catalog-2/13.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-2/11.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/11/thumbs_1464018280.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-2/11.html">Кухня "Валенсия"</a>
            </div>
            <a href="/catalog-2/11.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-2/10.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/10/thumbs_1464017829.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-2/10.html">Кухня "Прага"</a>
            </div>
            <a href="/catalog-2/10.html" class="btn btn-order">Подробнее</a>
        </div>
    </div>
    <div class="box">
        <div class="item">
            <figure>
                <a href="/catalog-1/39.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/39/thumbs_1464027348.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-1/39.html">Системы хранения одежды</a>
            </div>
            <a href="/catalog-1/39.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-1/40.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/40/thumbs_1464027590.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-1/40.html">Спальня</a>
            </div>
            <a href="/catalog-1/40.html" class="btn btn-order">Подробнее</a>
        </div>
    </div>
    <div class="box">
        <div class="item">
            <figure>
                <a href="/catalog-4/73.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/73/thumbs_1521461437.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-4/73.html">Стол Милорд овальный 90х150х200(100х200х250)</a>
            </div>
            <a href="/catalog-4/73.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-4/21.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/21/thumbs_1521463330.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-4/21.html">Стол Милорд 110х260х330(100х200х250"+")</a>
            </div>
            <a href="/catalog-4/21.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-4/22.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/22/thumbs_1464022393.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-4/22.html">Стол Милорд круглый D 160</a>
            </div>
            <a href="/catalog-4/22.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-4/23.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/23/thumbs_1521464079.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-4/23.html">Стол Милорд 80х130х180(90х150х200)</a>
            </div>
            <a href="/catalog-4/23.html" class="btn btn-order">Подробнее</a>
        </div>
    </div>
    <div class="box">
        <div class="item">
            <figure>
                <a href="/catalog-5/88.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/88/thumbs_1522672923.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-5/88.html">Мягкий набор "Реклайнер"</a>
            </div>
            <a href="/catalog-5/88.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-5/89.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/89/thumbs_1522673080.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-5/89.html">Мягкий набор "Харви"</a>
            </div>
            <a href="/catalog-5/89.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-5/86.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/86/thumbs_1522671617.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-5/86.html">Мягкий набор "Мадонна"</a>
            </div>
            <a href="/catalog-5/86.html" class="btn btn-order">Подробнее</a>
        </div>
        <div class="item">
            <figure>
                <a href="/catalog-5/87.html"><img width="316" height="248" src="https://shadmebel.ru/UserFiles/catalog/87/thumbs_1522672784.jpg" border="0" alt=""></a>
            </figure>
            <div class="item-title">
                <a href="/catalog-5/87.html">Мягкий набор "Премьер"</a>
            </div>
            <a href="/catalog-5/87.html" class="btn btn-order">Подробнее</a>
        </div>
    </div>
    <div class="text-center">
        <a href="/catalog" class="btn btn-more">Смотреть еще</a>
    </div>
</section>
<div class="info">
    <section class="container">
        <header class="title">
            Доставка и оплата
        </header>
        <ul class="ul-reset clr">
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-1.png" width="49" height="44"/>
                </figure>
                <div>
                    <p><b>Доставка мебели</b></p>
                    <p>Вся мебель доставляется в<br/>
                        разобранном виде, в картонных<br/>
                        упаковках. </p>
                </div>
            </li>
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-2.png" width="53" height="46"/>
                </figure>
                <div>
                    <p><b>Стоимость доставки</b></p>
                    <p>
                        Отдел логистики- +7(938) 474-10-06, +7(962) 874-77-51
                        .
                    </p>
                </div>
            </li>
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-3.png" width="48" height="62"/>
                </figure>
                <div>
                    <p><b>Подъем на этаж</b></p>
                    <p>Стоимость транспортировки в
                        квартиру, зависит от габаритов и
                        веса заказанной мебели.</p>
                </div>
            </li>
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-4.png" width="50" height="43"/>
                </figure>
                <div>
                    <p><b>Замер. Выезд</b></p>
                    <p>Выезд на замер в пределах<br/>
                        300км. </p>
                </div>
            </li>
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-5.png" width="68" height="56"/>
                </figure>
                <div>
                    <p><b>Стоимость сборки</b></p>
                    <p>Сборку мебели осуществляют<br/>
                        профессиональные сборщики, <br/>
                        имеющие многолетний опыт<br/>
                        работы по сборке мебели.
                    </p>
                </div>
            </li>
            <li>
                <figure>
                    <img src="https://shadmebel.ru/img/icon-i-6.png" width="36" height="49"/>
                </figure>
                <div>
                    <p><b>Гарантии</b></p>
                    <p>Гарантия на мебель 12 месяцев со
                        дня получения заказа. </p>
                </div>
            </li>
        </ul>
    </section>
</div>
<section class="responses container">
    <header class="title">
        Отзывы о нас
    </header>

    <div class="single-slider">

        <div>
            <div class="response">
                <p><span class="author">Светлана</span> <span class="date">20.06.2021</span></p>
                <p>
                <p>Заказывала кухню и прихожую! Большое спасибо за оперативность и качество изготовления и сборки! Быстро , оперативно, качественно! Хорошая организация работы! Спасибо всем! Обязательно буду обращаться ещё и буду рекомендовать
                    друзьям!!!</p>
                </p>
            </div>
        </div>

        <div>
            <div class="response">
                <p><span class="author">Анна</span> <span class="date">13.08.2018</span></p>
                <p>
                <p>Купили диван Эвелина, не зная кто производитель, когда нам его привезли, я увидела в документах, и стала искать в интернете вашу фирму, чтобы поблагодарить за вашу работу. Диван безумно красивый и качественно выполнен, мы в
                    восторге от него, все знакомые спрашивают теперь где мы покупали, тоже хотят такой. Спасибо, вы молодцы!</p>
                </p>
            </div>
        </div>

        <div>
            <div class="response">
                <p><span class="author">наталия</span> <span class="date">12.09.2016</span></p>
                <p>Увидела кухни на выставке в Краснодаре и боялась сделать расщет, думала что цены не сложешь , уж больно они были красивые , и что самое главное - видные места, которые делают из МДФ , шпонированные . Получилась конфетка!! Там же
                    заказали круглый стол под цвет кухни, овальный большой стол и 8 стульев ! Чтобы выбрать фарнитуру , съездили в Отрадный и в их магазине выбрали диван, банкеты и пуф . Все в Краснодар привезли бесплатно, устанавливали целый день. Я
                    очень довольна и благодарна Шаваршу и его коллективу!!</p>
            </div>
        </div>


    </div>
</section>
<div class="map">
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KxsY8IzttEpRNdKwge52meFvBImuXMrh&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
</div>
<div class="contact-form">
    <section class="container">
        <header class="title">
            Остались вопросы? Напишите нам!
        </header>
        <form action="/send" name="send" method="post" class="form">
            <input type="text" placeholder="Ваше имя" name="anme" required/>
            <input type="text" placeholder="Email" name="email" required/>
            <input type="text" placeholder="Телефон" name="phone" />
            <textarea placeholder="Сообщение" name="" required></textarea>
            <label class="checkbox">
                <input type="checkbox">
                <span style="color:#FFF">Я соглашаюсь с <a href="/content/private_policy" style="color:#FFF">политикой конфиденциальности</a> и даю свое согласие на обработку моих персональных данных</span>
            </label>
            <div class="text-center">
                <button class="btn btn-order" disabled="disabled">Отправить</button>
            </div>
        </form>
    </section>
</div>

{% endblock %}
