{% extends "layout.html" %}

{% block page %}
    <div class="bg-primary pt-md-10 pb-6 pb-md-12 bg-map">
        <div class="container">
            <div class="text-white text-md-center mb-3 display-1 mb-2">Все займы в Казахстане</div>
            <ul class="ms-2 ms-md-0 list-inline extend text-white markers yellow mb-6 mb-lg-12 small fw-medium">
                <li>Выберите МФО и отправляйте заявки</li>
                <li>Обслуживаются все города и регионы</li>
                <li>Круглосуточно 24/7</li>
                <li>С любой кредитной историей</li>
            </ul>
            <form method="get" id="filter" class="d-flex flex-wrap flex-lg-nowrap border-1 rounded bg-white mb-8 mb-md-12">
                <div class="row col row-cols-1 row-cols-md-4">
                    <div class="col position-relative">
                        <div class="input-wrap">
                            <label for="sum" class="form-label small text-light">Сумма займа</label>
                            <input type="text" class="form-control border-0" id="sum" value="1 000 000 ₸">
                            <svg class="icon-pencil">
                                <use href="img/symbol/sprite.svg#icon-pencil"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown" x-data="{show: false}" @click.outside="show = false">
                            <button class="dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    @click="show = !show"
                                    :class="{active: show}"
                                    aria-expanded="false">
                                <span class="text-light small mb-1">Срок займа</span>
                                <span class="text-black small">Любой</span>
                            </button>
                            <ul class="dropdown-menu border-0" :class="{show}">
                                {% for i in range(0, 4) %}
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="check-{{ i }}">
                                            <label class="form-check-label small fw-medium" for="check-{{ i }}">
                                                Значение {{ i }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown" x-data="{show: false}" @click.outside="show = false">
                            <button class="dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    @click="show = !show"
                                    :class="{active: show}"
                                    aria-expanded="false">
                                <span class="text-light small mb-1">Способ получения</span>
                                <span class="text-black small">Любой</span>
                            </button>
                            <ul class="dropdown-menu border-0" :class="{show}">
                                {% for i in range(0, 4) %}
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="check-2-{{ i }}">
                                            <label class="form-check-label small fw-medium" for="check-2-{{ i }}">
                                                Значение {{ i }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown" x-data="{show: false}" @click.outside="show = false">
                            <button class="dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    @click="show = !show"
                                    :class="{active: show}"
                                    aria-expanded="false">
                                <span class="text-light small mb-1">Возраст</span>
                                <span class="text-black small">Любой</span>
                            </button>
                            <ul class="dropdown-menu border-0" :class="{show}">
                                {% for i in range(0, 4) %}
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="check-3-{{ i }}">
                                            <label class="form-check-label small fw-medium" for="check-3-{{ i }}">
                                                Значение {{ i }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning">Подобрать</button>
            </form>
            <div class="site-main-cards row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-2 gy-md-6">
                {% for i in range(0 ,8) %}
                    <div class="col">
                        <div class="card border-0">
                            <div class="p-4 border-bottom">
                                <figure class="mb-2 text-center">
                                    <img src="img/img-card.jpg" width="212" height="124" loading="lazy"
                                         alt="">
                                </figure>
                                {% if i == 1 %}
                                    <div class="sticker green">ЗА 5 МИНУТ</div>
                                {% endif %}
                                {% if i == 2 %}
                                    <div class="sticker violet">ОДОБРЕНИЕ 95%</div>
                                {% endif %}
                                {% if i == 3 %}
                                    <div class="sticker red">БЕЗ ПЕРЕПЛАТЫ</div>
                                {% endif %}
                                <div class="rating d-flex align-items-center justify-content-center gap-3">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                    <a href="#" class="link-light small">12 отзывов</a>
                                </div>
                            </div>
                            <div class="p-4 border-bottom small">
                                <dl class="option row mb-3">
                                    <dt class="col text-light fw-normal">
                                        Сумма
                                    </dt>
                                    <dd class="col fw-medium text-end mb-0 text-nowrap">до 1 000 000 ₸</dd>
                                </dl>
                                <dl class="option row mb-3">
                                    <dt class="col text-light fw-normal">
                                        Срок
                                    </dt>
                                    <dd class="col fw-medium text-end mb-0">до 30 дней</dd>
                                </dl>
                                <dl class="option row mb-3">
                                    <dt class="col text-light fw-normal">
                                        Возраст
                                    </dt>
                                    <dd class="col fw-medium text-end mb-0">от 18 лет</dd>
                                </dl>
                                <dl class="option row mb-0">
                                    <dt class="text-light col-12 fw-normal mb-2">
                                        Способы получения
                                    </dt>
                                    <dd class="col-12 d-flex align-items-center gap-4 mb-0">
                                        <img src="img/img-visa.svg" width="44" height="24" loading="lazy" alt="">
                                        <img src="img/img-mc.svg" width="25" height="16" loading="lazy" alt="">
                                        <img src="img/img-pay-3.svg" width="28" height="12" loading="lazy" alt="">
                                        <img src="img/img-bank.svg" width="16" height="16" loading="lazy" alt="">
                                        <img src="img/img-cash.svg" width="24" height="16" loading="lazy" alt="">
                                    </dd>
                                </dl>
                            </div>
                            <div class="p-4">
                                <ul class="list-unstyled list-with-ticks small">
                                    <li class="d-flex align-items-center gap-2 mb-2">
                                        <svg class="icon-tick">
                                            <use href="img/symbol/sprite.svg#icon-tick"></use>
                                        </svg>
                                        <span class="fw-medium">Новая компания</span>
                                    </li>
                                    <li class="d-flex align-items-center gap-2">
                                        <svg class="icon-tick">
                                            <use href="img/symbol/sprite.svg#icon-tick"></use>
                                        </svg>
                                        <span class="fw-medium">Кредит под 0%</span>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-warning w-100 mb-2">Получить деньги</a>
                                <div class="text-center">
                                    <a href="#" class="text-center small">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-with-girl bg-secondary py-6 py-md-12">
        <div class="container">
            <div class="display-1 text-center mb-4">Онлайн заявка сразу во все организации</div>
            <p class="text-center mb-12">Отправьте одну заявку сразу во все организации (свыше 20) и получите
                предложения
                только с одобренным микрокредитом.
                Это бесплатно и занимает всего 2 минуты. Никакого спама и нежелательных звонков.</p>
            <div class="row">
                <form action="#" method="post" class="col-lg-6">
                    <div class="mb-4 mb-md-6">
                        <label for="name" class="form-label text-light">ФИО <span class="text-danger">*</span></label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Фамилия Имя Отчество">
                    </div>
                    <div class="mb-4 mb-md-6">
                        <label for="address" class="form-label text-light">Адрес проживания <span
                                    class="text-danger">*</span></label>
                        <input type="text" name="address" class="form-control" id="address"
                               placeholder="Город, улица, дом, квартира">
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 mb-4 mb-md-6 gy-4 gy-md-6">
                        <div class="col">
                            <label for="sum" class="form-label text-light">Желаемая сумма займа <span
                                        class="text-danger">*</span></label>
                            <div class="input-wrap position-relative" x-data="slider">
                                <input type="text" name="sum" class="form-control" id="sum" @input.debounce.500ms="typing()" @focus="clear()" value="8 000 ₸">
                                <input
                                        type="range"
                                        min="0"
                                        max="100000"
                                        step="500"
                                        data-buffer="8000" />
                                <svg class="icon-pencil position-absolute translate-middle-y end-0 me-4 top-50">
                                    <use href="img/symbol/sprite.svg#icon-pencil"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="col">
                            <label for="term" class="form-label text-light">Желаемый срок займа <span
                                        class="text-danger">*</span></label>
                            <select class="form-select" id="term" name="term">
                                <option selected>Выберите срок</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="phone" class="form-label text-light">Номер телефона <span
                                        class="text-danger">*</span></label>
                            <input type="text" name="phone" class="form-control" id="phone" value="+7">
                        </div>
                        <div class="col">
                            <label for="email" class="form-label text-light">Электронная почта <span
                                        class="text-danger">*</span></label>
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="Введите ваш e-mail">
                        </div>
                    </div>
                    <div class="text-light small mb-6">
                        Поля, обязательные для заполнения <span class="text-danger">*</span>
                    </div>
                    <div class="mb-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="rule" value="1" id="rule">
                            <label class="form-check-label small" for="rule">
                                Согласен с условиями обработки <a href="#">персональных данных</a>, правилами оказания услуг
                                и выражаю свое согласие на получение сведений из основной части кредитных историй и всей
                                иной информации
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить заявку</button>
                </form>
            </div>

        </div>
    </div>
    <article class="article container py-6 py-md-12">
        <h1 class="mb-4">Мы подберем идеальный кредит для вас</h1>
        <p>«ВсемКредиты» — один из крупнейших сервисов подбора займов в рунете. У нас собраны предложения от всех
            легальных МФО/МФК и банков, работающих по лицензии Центробанка РФ. Наши специалисты регулярно мониторят
            изменения на финансовом рынке и следят, чтобы данные на сайте всегда были актуальными и достоверными.</p>
        <p>На нашем портале вы найдете всю нужную информацию о займах в МФО/МФК и полную информацию о программах
            кредитования российских банков. Предоставляя данные о кредитных организациях и их предложениях по займам, мы
            не утаиваем отрицательные моменты и не удаляем негативные отзывы. Наша цель – не рекламировать отдельные
            МФО/МФК или банки, а
            <a href="#">дать гражданам</a> РФ возможность подобрать лучшее предложение.</p>
        <p>Для максимального удобства пользователей мы реализовали возможность онлайн подбора займов. Вы можете отобрать
            все подходящие предложения за несколько секунд. Для этого следует лишь указать нужную сумму, срок и способ
            выдачи денег.</p>
        <blockquote>
            Важным преимуществом CreditPlus является предоставление постоянным клиентам долгосрочных займов на срок от
            10 до 18 недель с выплатами каждые две недели. Это тарифы “Турбо” и “Супертурбо”, по которым сумма
            микрокредита составит до 80 тыс. руб., а процентная ставка снизится до 0,8% в день.
        </blockquote>
        <p><b>Выбранные предложения вы сможете отсортировать по основным критериям:</b></p>
        <ul>
            <li>по рейтингу;</li>
            <li>по величине процентной ставки;</li>
            <li>по скорости рассмотрения заявки и выдачи денег.</li>
        </ul>
        <p>Также мы оказываем услуги по индивидуальному подбору займов и кредитов. Лучшие предложения для наших клиентов
            находят опытные юристы и финансовые аналитики. Они владеют информацией о текущей ситуации на финансовом
            рынке РФ и на профессиональном уровне оценивают выгодность каждого предложения по совокупности факторов.</p>
        <h2>5 причин подобрать займ через «ВсемКредиты»</h2>
        <p>Гражданам России, решившим воспользоваться нашим сервисом подбора займов и кредитов, гарантировано 5 значимых
            преимуществ:</p>
        <ol>
            <li>Возможность сравнить абсолютно все предложения легальных банков и МФО;</li>
            <li>Возможность прочитать отзывы реальных людей про МФО и банковские программы кредитования;</li>
            <li>Возможность быстро найти предложения организаций, выдающих займы без отказа даже людям с плохой КИ;</li>
            <li>Возможность подобрать, оформить и получить займ на карту или электронный кошелек в течение всего 20-30
                минут;
            </li>
            <li>Доступ к полной, правдивой и актуальной информации обо всех финансовых услугах банков и МФО.</li>
        </ol>
        <blockquote class="v-2">
            Важным преимуществом CreditPlus является предоставление постоянным клиентам долгосрочных займов на срок от
            10 до 18 недель с выплатами каждые две недели. Это тарифы “Турбо” и “Супертурбо”, по которым сумма
            микрокредита составит до 80 тыс. руб., а процентная ставка снизится до 0,8% в день.
        </blockquote>
        <p>Вы можете воспользоваться сервисом «ВсемКредиты» в любое время суток в будни, выходные и праздники.
            Подбирайте самый дешевый займ или самый выгодный кредит, ознакомьтесь с правилами его оформления и подавайте
            заявку онлайн.</p>
    </article>
    <div class="bg-primary bg-opacity-10 py-6 py-md-12">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 gy-2 g-md-6 small">
                {% for i in range(0, 4) %}
                    <div class="col">
                        <div class="card p-6">
                            <div class="h5 mb-4">ТОО «Микрофинансовая организация «Займер»</div>
                            <div class="row g-4">
                                <dl class="col-12 d-flex gap-2 mb-0">
                                    <dt class="flex-shrink-0 fs-0">
                                        <svg class="icon-home icon-size stroke-primary">
                                            <use href="img/symbol/sprite.svg#icon-home"></use>
                                        </svg>
                                    </dt>
                                    <dd>
                                        Адрес: Республика Казахстан, 050026 г. Алматы, Алмалинский район ул. Богенбай
                                        батыр
                                        256А, каб. 201
                                    </dd>
                                </dl>
                                <dl class="col-12 col-lg-6 d-flex gap-2 mb-0">
                                    <dt class="flex-shrink-0 fs-0">
                                        <svg class="icon-file icon-size stroke-primary">
                                            <use href="img/symbol/sprite.svg#icon-file"></use>
                                        </svg>
                                    </dt>
                                    <dd class="mb-0">
                                        Лицензия: №2843
                                    </dd>
                                </dl>
                                <dl class="col-12 col-lg-6 d-flex gap-2 mb-0">
                                    <dt class="flex-shrink-0 fs-0">
                                        <svg class="icon-phone icon-size stroke-primary">
                                            <use href="img/symbol/sprite.svg#icon-phone"></use>
                                        </svg>
                                    </dt>
                                    <dd class="mb-0">
                                        Телефон: +7 707-101-03-00
                                    </dd>
                                </dl>
                                <dl class="col-12 col-lg-6 d-flex gap-2 mb-0">
                                    <dt class="flex-shrink-0 fs-0">
                                        <svg class="icon-circle-tick icon-size stroke-primary">
                                            <use href="img/symbol/sprite.svg#icon-circle-tick"></use>
                                        </svg>
                                    </dt>
                                    <dd class="mb-0">
                                        Максимальная ГПС (APR): 32%
                                    </dd>
                                </dl>
                                <dl class="col-12 col-lg-6 d-flex gap-2 mb-0">
                                    <dt class="flex-shrink-0 fs-0">
                                        <svg class="icon-calendar icon-size stroke-primary">
                                            <use href="img/symbol/sprite.svg#icon-calendar"></use>
                                        </svg>
                                    </dt>
                                    <dd class="mb-0">
                                        Срок: от 61 день до 1 год
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

