{% extends "layout.html" %}

{% block page %}
    <div class="py-12">
        <div class="container">
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb breadcrumb-dark mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Займы</li>
                </ol>
            </nav>
            <h1 class="mb-8">Продукты</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                <div class="col">
                    <h6 class="mb-3">Основные продукты</h6>
                    <ul class="list-unstyled markers blue small list-dark-links">
                        <li><a href="#">Микрозаймы</a></li>
                        <li><a href="#">Деньги в долг</a></li>
                        <li><a href="#">Микрокредиты</a></li>
                        <li><a href="#">Подбор займа</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="mb-3">Статус заемщика</h6>
                    <ul class="list-unstyled markers blue small list-dark-links">
                        <li><a href="#">С 18 лет</a></li>
                        <li><a href="#">Безработным</a></li>
                        <li><a href="#">Должникам</a></li>
                        <li><a href="#">Студентам</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="mb-3">Оформление</h6>
                    <ul class="list-unstyled markers blue small list-dark-links">
                        <li><a href="#">По паспорту</a></li>
                        <li><a href="#">Без паспорта</a></li>
                        <li><a href="#">Без СНИЛС</a></li>
                        <li><a href="#">Через СМС</a></li>
                        <li><a href="#">Без проверок</a></li>
                        <li><a href="#">С просрочками</a></li>
                        <li><a href="#">По телефону</a></li>
                        <li><a href="#">Без электронной почты</a></li>
                        <li><a href="#">Через портал Госуслуги</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="mb-3">Способы получения</h6>
                    <ul class="list-unstyled markers blue small list-dark-links">
                        <li><a href="#">Наличными</a></li>
                        <li><a href="#">На карту</a></li>
                        <li><a href="#">На Яндекс.Деньги</a></li>
                        <li><a href="#">На QIWI</a></li>
                        <li><a href="#">На карту МИР</a></li>
                        <li><a href="#">На карту Maestro</a></li>
                        <li><a href="#">Через систему Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

