{% extends "layout-2.html" %}

{% block page %}

<div class="main container clr">
    <div class="path">
        <a href="/">Главная</a> &gt; Прайс-лист        </div>
    <article class="article">
        <h1>Прайс-лист</h1>		<p>Наша компания предоставляет прайс-лист с актуальными ценами после Вашего обращения.</p>

        <p>Сделать запрос на прайс-лист Вы можете связавшись с нами одним из способов, представленных на странице <a href="/content/contact">контакты</a>.</p>

        <p>Также, Вы можете оперативно уточнить информацию по цене, цветовым и прочим характеристикам, срокам изготовления и доставки непосредственно по телефону.</p>
        <div class="contact-buttons">
            <div class="title">Связаться с нами</div>
            <div class="buttons">
                <a href="#">Ч/з Whats’app</a>
                <a href="#contact-modal" class="fancy">Ч/з Почту</a>
            </div>
        </div>
    </article>
</div>
<div class="map"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KxsY8IzttEpRNdKwge52meFvBImuXMrh&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script></div>
{% endblock %}
