{% extends "layout-2.html" %}

{% block page %}

<div class="main container clr">
    <div class="path">
        <a href="/">Главная</a> &gt; <a href="/catalog">Каталог продукции</a> &gt; <a href="/cat-4">Столы, стулья</a> &gt; Стол Милорд круглый 100х140
    </div>
    <article class="article">
        <h1>Стол Милорд круглый 100х140</h1>
        <p>Материал каркаса: массив бук</p>

        <p>Габаритные размеры</p>

        <p>Стол: D 140 Х 100 см.</p>
        <figure class="full-img">
            <img src="https://shadmebel.ru/UserFiles/catalog/25/1521803533.jpg" style="max-width:996px;" class="img-big"/>
        </figure>
        <div class="thumbs">
            <ul class="ul-reset clr">
                <li><a href="https://shadmebel.ru/UserFiles/catalog/25/1521803533.jpg"><img src="https://shadmebel.ru/UserFiles/catalog/25/thumbs_1521803533.jpg" width="226" height="170"/></a></li>
                <li><a href="https://shadmebel.ru/UserFiles/catalog/25/1521804007.jpg"><img src="https://shadmebel.ru/UserFiles/catalog/25/thumbs_1521804007.jpg" width="226" height="170"/></a></li>
            </ul>
        </div>

        <p><strong>Доступные цвета:</strong></p>
        <div class="colors">
            <ul class="ul-reset clr">
                <li>
                    <figure>
                        <img src="https://shadmebel.ru/UserFiles/color/oreh.jpg" width="65" height="65"/>
                    </figure>
                    Орех
                </li>
                <li>
                    <figure>
                        <img src="https://shadmebel.ru/UserFiles/color/slonovaya-kost.jpg" width="65" height="65"/>
                    </figure>
                    Слоновая кость
                </li>
                <li>
                    <figure>
                        <img src="https://shadmebel.ru/UserFiles/color/olha.jpg" width="65" height="65"/>
                    </figure>
                    Ольха
                </li>
                <li>
                    <figure>
                        <img src="https://shadmebel.ru/UserFiles/color/vishnya.jpg" width="65" height="65"/>
                    </figure>
                    Вишня
                </li>
                <li>
                    <figure>
                        <img src="https://shadmebel.ru/UserFiles/color/venge.jpg" width="65" height="65"/>
                    </figure>
                    Венге
                </li>
            </ul>
        </div>
        <br/>

        <h2>Информация о производимой и реализуемой продукции</h2>

        <p align="justify">Дополнительно нами может быть осуществлена доставка в пределах 300км от ст. Отрадной, в том чисте в города Краснодарского и Ставропольского краев, Ростовской области, а также другие регионы России в соответствии с
            прейскурантом цен на доставку, которые Вы можете узнать позвонив нам, или написав письмо.</p>
        <div class="info-2">
            <div class="tel-2">
                Вы можете связаться с нами по телефонам: +7 86144 <span>3-32-32</span>, +7 918 <span>100-00-50</span>
            </div>
            фабрика осуществляет выезд на замеры, доставку, сборку и монтаж выпускаемой<br/>
            продукции в пределах 300 км.
        </div>
    </article>
</div>
<div class="map">
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KxsY8IzttEpRNdKwge52meFvBImuXMrh&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
</div>
{% endblock %}
