{% extends "layout.html" %}

{% block page %}
    <div class="bg-primary pt-md-2 pb-6 pb-md-12 bg-map">
        <div class="container">
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Займы</li>
                </ol>
            </nav>
            <div class="card-main card bg-transparent border-0">
                <div class="card-header bg-transparent p-0 border-0 d-flex flex-wrap align-items-center gap-4 gap-md-6">
                    <figure class="bg-white mb-0 rounded p-5">
                        <img src="img/img-card.jpg" width="212" height="124" class="img-fluid" alt="">
                    </figure>
                    <div>
                        <h1 class="text-white">Займ в CreditPlus</h1>
                        <div class="rating d-flex align-items-center gap-3">
                            <div class="stars" data-rating="4">
                                {% for i in range(1, 6) %}
                                    <svg class="icon-star" data-value="{{ i }}">
                                        <use href="img/symbol/sprite.svg#icon-star"></use>
                                    </svg>
                                {% endfor %}
                            </div>
                            <span class="rating-value small text-white">4.2</span>
                            <div class="vr text-white"></div>
                            <a href="#" class="link-light small">12 отзывов</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 mt-6">
                    <div class="row g-4">
                        <div class="col-xl-9">
                            <div class="row g-4 row-cols-2 row-cols-md-4">
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Срок</dt>
                                        <dd class="mb-0">31 дней</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Сумма</dt>
                                        <dd class="mb-0">до 30 000 ₸</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Рассмотрение</dt>
                                        <dd class="mb-0">1 час</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Возраст заемщика</dt>
                                        <dd class="mb-0">от 18 лет</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Возраст</dt>
                                        <dd class="mb-0">от 18 до 70 лет</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Выдача</dt>
                                        <dd class="mb-0">За день</dd>
                                    </dl>
                                </div>
                                <div class="col-12 col-lg-6 text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Способы получения</dt>
                                        <dd class="d-flex align-items-center gap-4 mb-0">
                                            <img src="img/img-visa.svg" width="44" height="24" loading="lazy" alt="">
                                            <img src="img/img-mc.svg" width="25" height="16" loading="lazy" alt="">
                                            <img src="img/img-pay-3.svg" width="28" height="12" loading="lazy" alt="">
                                            <img src="img/img-bank.svg" width="16" height="16" loading="lazy" alt="">
                                            <img src="img/img-cash.svg" width="24" height="16" loading="lazy" alt="">
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Телефон</dt>
                                        <dd class="mb-0">8 800-222-23-23</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">Электронная почта</dt>
                                        <dd class="mb-0">info@creditplus.ru</dd>
                                    </dl>
                                </div>
                                <div class="col text-white small">
                                    <dl class="mb-0">
                                        <dt class="text-white-80">info@creditplus.ru</dt>
                                        <dd class="mb-0">creditplus.ru</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="md-4 mb-6">
                                <label for="sum" class="form-label text-white-80">Желаемый лимит</label>
                                <div class="input-wrap position-relative" x-data="slider">
                                    <input type="text" name="card_sum" class="form-control" id="card_sum"
                                           @input.debounce.500ms="typing()" @focus="clear()" value="8 000 ₸">
                                    <input
                                            type="range"
                                            min="0"
                                            max="100000"
                                            step="500"
                                            data-buffer="8000"/>
                                    <svg class="icon-pencil position-absolute translate-middle-y end-0 me-4 top-50">
                                        <use href="img/symbol/sprite.svg#icon-pencil"></use>
                                    </svg>
                                </div>
                            </div>
                            <a href="#" class="btn btn-warning w-100">Получить деньги</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6 py-md-12">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <nav class="nav nav-card mb-6">
                        <a class="nav-link active" aria-current="page" href="#">Условия</a>
                        <a class="nav-link" href="#">Требования к заемщикам</a>
                        <a class="nav-link" href="#">Как оформить</a>
                        <a class="nav-link" href="#">Способ получения</a>
                        <a class="nav-link" href="#">Вопрос-ответ</a>
                        <a class="nav-link" href="#">Отзывы</a>
                    </nav>
                    <div class="mb-6 mb-md-12">
                        <div class="row gy-2 g-md-6">
                            <div class="col-md-6">
                                <div class="border p-6 rounded">
                                    <div class="h2 mb-5">Преимущества</div>
                                    <ul class="list-thumbs list-unstyled">
                                        <li>
                                            <svg class="icon-thumb-up">
                                                <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                            </svg>
                                            <span>Первый займ без процентов</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-up">
                                                <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                            </svg>
                                            <span>Большие лимиты одобрения для первого займа</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-up">
                                                <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                            </svg>
                                            <span>Нет навязанной страховки и скрытых процентов</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-up">
                                                <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                            </svg>
                                            <span>Большие лимиты (до 80000 рублей) для постоянных клиентов</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border p-6 rounded">
                                    <div class="h2 mb-5">Недостатки</div>
                                    <ul class="list-thumbs list-unstyled">
                                        <li>
                                            <svg class="icon-thumb-down">
                                                <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                            </svg>
                                            <span>Первый займ без процентов</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-down">
                                                <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                            </svg>
                                            <span>Большие лимиты одобрения для первого займа</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-down">
                                                <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                            </svg>
                                            <span>Нет навязанной страховки и скрытых процентов</span>
                                        </li>
                                        <li>
                                            <svg class="icon-thumb-down">
                                                <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                            </svg>
                                            <span>Большие лимиты (до 80000 рублей) для постоянных клиентов</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Онлайн займы в CreditPlus</h2>
                        <p>CreditPlus – сервис быстрого онлайн-кредитования, один из трех ведущих в России по скорости и
                            объемам кредитования. Все оформление происходит через интернет, а деньги можно получить в
                            любой точке мира, где есть доступ к нему. Быстрая обработка заявок позволяет максимально
                            сократить время до того момента, как средства окажутся в руках клиента.</p>
                    </article>
                    <div class="mb-6 mb-md-12 bg-secondary p-4 p-md-6 rounded">
                        <h2 class="h1 mb-4">Онлайн заявка на займ</h2>
                        <form action="#" method="post">
                            <div class="mb-4 mb-md-6">
                                <label for="name" class="form-label text-light">ФИО <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="Фамилия Имя Отчество">
                            </div>
                            <div class="mb-4 mb-md-6">
                                <label for="address" class="form-label text-light">Адрес проживания <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="address" class="form-control" id="address"
                                       placeholder="Город, улица, дом, квартира">
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 mb-4 mb-md-6 gy-4 gy-md-6">
                                <div class="col">
                                    <label for="sum" class="form-label text-light">Желаемая сумма займа <span
                                                class="text-danger">*</span></label>
                                    <div class="input-wrap position-relative" x-data="slider">
                                        <input type="text" name="sum" class="form-control" id="sum"
                                               @input.debounce.500ms="typing()" @focus="clear()" value="8 000 ₸">
                                        <input
                                                type="range"
                                                min="0"
                                                max="100000"
                                                step="500"
                                                data-buffer="8000"/>
                                        <svg class="icon-pencil position-absolute translate-middle-y end-0 me-4 top-50">
                                            <use href="img/symbol/sprite.svg#icon-pencil"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="term" class="form-label text-light">Желаемый срок займа <span
                                                class="text-danger">*</span></label>
                                    <select class="form-select" id="term" name="term">
                                        <option selected>Выберите срок</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="phone" class="form-label text-light">Номер телефона <span
                                                class="text-danger">*</span></label>
                                    <input type="text" name="phone" class="form-control" id="phone" value="+7">
                                </div>
                                <div class="col">
                                    <label for="email" class="form-label text-light">Электронная почта <span
                                                class="text-danger">*</span></label>
                                    <input type="text" name="email" class="form-control" id="email"
                                           placeholder="Введите ваш e-mail">
                                </div>
                            </div>
                            <div class="text-light small mb-6">
                                Поля, обязательные для заполнения <span class="text-danger">*</span>
                            </div>
                            <div class="mb-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="rule" value="1" id="rule">
                                    <label class="form-check-label small" for="rule">
                                        Согласен с условиями обработки <a href="#">персональных данных</a>, правилами
                                        оказания услуг
                                        и выражаю свое согласие на получение сведений из основной части кредитных
                                        историй и всей
                                        иной информации
                                    </label>
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Отправить заявку</button>
                            </div>
                        </form>
                    </div>
                    <article class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Условия займа в CreditPlus</h2>
                        <p>CreditPlus предлагает на выбор несколько вариантов займов. Новые клиенты могут получить
                            <mark>от 1500 до 15000 руб.</mark>
                            на срок от 5 до 15 дней под 0%. Второй и последующие займы предоставляются согласно
                            установленным тарифам:.
                        </p>
                        <table class="table ">
                            <thead>
                            <tr>
                                <th scope="col">Тариф</th>
                                <th scope="col">Условия (процент, сумма, срок)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(0, 10) %}
                                <tr>
                                    <td class="w-50">Старт 0%</td>
                                    <td>
                                        0% в день, доступно только для первого займа <br>
                                        от 1500 до 15000 рублей<br>
                                        от 5 до 15 дней
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <blockquote>
                            Важным преимуществом CreditPlus является предоставление постоянным клиентам долгосрочных
                            займов на срок от 10 до 18 недель с выплатами каждые две недели. Это тарифы “Турбо” и
                            “Супертурбо”, по которым сумма микрокредита составит до 80 тыс. руб., а процентная ставка
                            снизится до 0,8% в день.
                        </blockquote>
                        <p>В CreditPlus существует программа лояльности. Ее суть заключается в том, чтобы копить и
                            тратить бонусные баллы. Своевременный возврат средств, рекомендации знакомым и отзывы в
                            соцсетях поощряются бонусными баллами.</p>
                        <figure>
                            <img src="img/img-banner.jpg" alt="...">
                            <figcaption class="wp-caption">A caption for the above image.</figcaption>
                        </figure>
                        <p>Баллами можно погашать проценты по займу, оплачивать процедуру пролонгации. Чем больше баллов
                            накопит заёмщик, тем быстрее он получит следующий уровень лояльности (тариф). Потратить
                            баллы на погашение процентов можно в следующей пропорции: 100 баллов = 1 рубль. Как только
                            заёмщик тратит баллы, он утрачивает возможность перейти на следующий тариф.</p>
                    </article>
                    <article class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Требования к заемщикам</h2>
                        <ul>
                            <li>Гражданство Российской Федерации</li>
                            <li>Возраст от 20 до 70 лет (на день подачи заявки)</li>
                            <li>Дееспособность</li>
                        </ul>
                        <p>Также для получения займа в Манимен понадобятся действительный паспорт РФ, СНИЛС (карта
                            пенсионного страхования), мобильный телефон и адрес электронной почты. Если клиент хочет
                            получить микрокредит безналично – то банковская карта (VISA или MasterCard) любого банка
                            России или реквизиты банковского счета.</p>
                    </article>
                    <div class="article mb-6 mb-md-12">
                        <div class="bg-secondary p-4 p-md-6 mb-6 rounded">
                            <div class="h1 mb-4">Калькулятор процентов CreditPlus</div>
                            <form action="#" method="post" class="row g-4 g-md-6 row-cols-1 row-cols-md-3">
                                <div class="col order-0">
                                    <label for="sum" class="form-label text-light">Сумма</label>
                                    <div class="input-wrap position-relative" x-data="slider">
                                        <input type="text" name="sum" class="form-control" id="sum"
                                               @input.debounce.500ms="typing()" @focus="clear()" value="8 000 ₸">
                                        <input
                                                type="range"
                                                min="0"
                                                max="100000"
                                                step="500"
                                                value="8000"
                                                data-buffer="8000"/>
                                        <svg class="icon-pencil position-absolute translate-middle-y end-0 me-4 top-50">
                                            <use href="img/symbol/sprite.svg#icon-pencil"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="col order-0">
                                    <label for="sum" class="form-label text-light">Срок</label>
                                    <div class="input-wrap position-relative" x-data="slider(' дня')">
                                        <input type="text" name="term" class="form-control" id="term"
                                               @input.debounce.500ms="typing()" @focus="clear()" value="2 дня">
                                        <input
                                                type="range"
                                                min="0"
                                                max="30"
                                                step="1"
                                                value="2"
                                        />
                                    </div>
                                </div>
                                <div class="col order-1 align-self-end">
                                    <button type="button" class="btn btn-primary w-100">Отправить заявку</button>
                                </div>
                                <div class="col order-0 order-md-2">
                                    <div class="d-flex gap-5 small">
                                        <span class="text-light">Сумма погашения</span>
                                        <span class="fw-medium">8 000 ₸</span>
                                    </div>
                                </div>
                                <div class="col order-0 order-md-2">
                                    <div class="d-flex gap-5 small">
                                        <span class="text-light">Погашение</span>
                                        <span class="fw-medium">26.04.2022</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table align-middle">
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Сумма</th>
                                <th scope="col">Ставка</th>
                                <th scope="col">Срок</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(0, 4) %}
                                <tr>
                                    <th scope="col"><a href="#">Маленький</a></th>
                                    <td data-title="Сумма">
                                        8 000 ₸
                                    </td>
                                    <td data-title="Ставка">от 0% до 1%</td>
                                    <td data-title="Срок">до 30 дней</td>
                                    <td class="text-end"><a href="#" class="btn btn-primary btn-sm">Онлайн-заявка</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Оформление заявки в CreditPlus – 5 минут</h2>
                        <p>В процессе оформления заявки система запросит сведения о вашем трудоустройстве, доходах и
                            кредитах, которые вы брали ранее (банк, вид и сумма). Чтобы не затягивать процедуру и
                            предоставить максимально полную информацию, подготовьте эти сведения заранее.</p>
                    </div>
                    <div class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Шансы на одобрение заявки в CreditPlus – 81%</h2>
                        <p>В процессе оформления заявки система запросит сведения о вашем трудоустройстве, доходах и
                            кредитах, которые вы брали ранее (банк, вид и сумма). Чтобы не затягивать процедуру и
                            предоставить максимально полную информацию, подготовьте эти сведения заранее.</p>
                    </div>
                    <div class="mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Отказали в CreditPlus? Попробуйте другие займы</h2>
                        <div class="bg-secondary position-relative rounded">
                            <div class="glide">
                                <div class="glide__track" data-glide-el="track">
                                    <div class="glide__slides">
                                        {% for i in range(0, 5)  %}
                                            <div class="glide__slide">
                                                <div class="card card-horizontal bg-transparent border-0">
                                                    <div class="row g-0">
                                                        <div class="col-md-4">
                                                            <div class="p-4 p-md-6">
                                                                <figure class="mb-4 d-flex flex-column bg-white align-items-center justify-content-center rounded">
                                                                    <img src="img/img-card.jpg" width="212" height="124" loading="lazy"
                                                                         alt="">
                                                                </figure>
                                                                <div class="rating d-flex align-items-center justify-content-center gap-3">
                                                                    <div class="stars" data-rating="4">
                                                                        {% for i in range(1, 6) %}
                                                                            <svg class="icon-star" data-value="{{ i }}">
                                                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                                                            </svg>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <a href="#" class="link-light small">12 отзывов</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="p-4 p-md-6">
                                                                <div class="h2 mb-4 d-none d-md-block">Займер</div>
                                                                <div class="row gy-4 gy-md-6 row-cols-2 row-cols-md-3 mb-6">
                                                                    <div class="col">
                                                                        <dl class="mb-0">
                                                                            <dt class="text-light">Срок</dt>
                                                                            <dd class="mb-0">31 дней</dd>
                                                                        </dl>
                                                                    </div>
                                                                    <div class="col">
                                                                        <dl class="mb-0">
                                                                            <dt class="text-light">Сумма</dt>
                                                                            <dd class="mb-0">до 30 000 ₸</dd>
                                                                        </dl>
                                                                    </div>
                                                                    <div class="col">
                                                                        <dl class="mb-0">
                                                                            <dt class="text-light">Рассмотрение</dt>
                                                                            <dd class="mb-0">1 час</dd>
                                                                        </dl>
                                                                    </div>
                                                                    <div class="col">
                                                                        <dl class="mb-0">
                                                                            <dt class="text-light">Возраст</dt>
                                                                            <dd class="mb-0">от 18 до 70 лет</dd>
                                                                        </dl>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <dl class="mb-0">
                                                                            <dt class="text-light">Сумма</dt>
                                                                            <dd class="col-12 d-flex align-items-center gap-4 mb-0">
                                                                                <img src="img/img-visa.svg" width="44" height="24"
                                                                                     loading="lazy" alt="">
                                                                                <img src="img/img-mc.svg" width="25" height="16"
                                                                                     loading="lazy" alt="">
                                                                                <img src="img/img-pay-3.svg" width="28" height="12"
                                                                                     loading="lazy" alt="">
                                                                                <img src="img/img-bank.svg" width="16" height="16"
                                                                                     loading="lazy" alt="">
                                                                                <img src="img/img-cash.svg" width="24" height="16"
                                                                                     loading="lazy" alt="">
                                                                            </dd>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-wrap gap-2 gap-md-4">
                                                                    <a href="#" class="btn btn-primary btn-sm">Получить деньги</a>
                                                                    <a href="#" class="btn btn-white btn-sm">Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="glide__arrows" data-glide-el="controls">
                                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                            <svg class="icon-arr-prev">
                                                <use href="img/symbol/sprite.svg#icon-arr-prev"></use>
                                            </svg>
                                        </button>
                                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                                            <svg class="icon-arr-next">
                                                <use href="img/symbol/sprite.svg#icon-arr-next"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Полезные ссылки</h2>
                        <ul>
                            <li><a href="#">Общие условия договора потребительского займа ООО МФК «Мани Мен»</a></li>
                            <li><a href="#">Правила предоставления микрозаймов ООО МФК «Мани Мен»</a></li>
                            <li><a href="#">Свидетельство о государственной регистрации юридического лица</a></li>
                            <li><a href="#">Свидетельство МФК</a></li>
                        </ul>
                    </div>
                    <div class="mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Частые вопросы</h2>
                        <div class="accordion ">
                            {% for i in range(0, 5) %}
                                <div class="accordion-item border-0">
                                    <div class="accordion-header border-bottom">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" aria-expanded="false"
                                                aria-controls="collapseOne">
                                            Как узнать одобрят ли мне займ?
                                        </button>
                                    </div>
                                    <div class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="mb-6 mb-md-12">
                        <h2 class="h1 mb-4">Скачать мобильные приложения</h2>
                        <div class="d-flex flex-wrap gap-2">
                            <a href="#" class="btn btn-primary btn-sm d-flex align-items-center gap-2 px-8">
                                <svg class="icon-ios">
                                    <use href="img/symbol/sprite.svg#icon-ios"></use>
                                </svg>
                                <span>iOS</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm d-flex align-items-center gap-2 px-8">
                                <svg class="icon-android">
                                    <use href="img/symbol/sprite.svg#icon-android"></use>
                                </svg>
                                <span>Android</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm d-flex align-items-center gap-2 px-8">
                                <svg class="icon-windows">
                                    <use href="img/symbol/sprite.svg#icon-windows"></use>
                                </svg>
                                <span>iOS</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <h2 class="h1 mb-4">Другие займы с такими же условиями</h2>
                        <div class="d-flex flex-wrap gap-2">
                            <a href="#" class="btn btn-outline-light btn-sm">С плохой кредитной историей</a>
                            <a href="#" class="btn btn-outline-light btn-sm">С 18 лет</a>
                            <a href="#" class="btn btn-outline-light btn-sm">На карту “МИР”</a>
                            <a href="#" class="btn btn-outline-light btn-sm">Без справки о доходах”</a>
                        </div>
                    </div>
                </div>
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
    <div class="py-6 py-md-12 border-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="d-flex align-items-center mb-6 mb-md-12">
                        <div class="h1 mb-0">Отзывы <span class="text-primary ms-2">8</span></div>
                        <button type="button" class="btn btn-primary btn-sm ms-auto">Оставить отзыв</button>
                    </div>
                    <div class="comments mb-6 mb-md-12">
                        {% for i in range(0, 3) %}
                            <div class="comment mb-6 pb-6 border-bottom">
                                <div class="comment-head d-flex flex-wrap gap-4 small mb-4">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                    <span class="fw-bolder">Анатолий</span>
                                    <span class="text-light">16 сентября 2019</span>
                                </div>
                                <div class="comment-text small mb-4">
                                    <p class="mb-0">Сотрудники CreditPlus названивают с напоминаем об уже оплаченном
                                        займе в 8
                                        утра, это как вообще?! Не берите здесь займ. Поддержки нормальной нет, только на
                                        почту
                                        пиши и не факт, что ответят.</p>
                                </div>
                                <div class="comment-text-with-icon position-relative small mb-4">
                                    <div class="icon bg-success">
                                        <svg class="icon-plus">
                                            <use href="img/symbol/sprite.svg#icon-plus"></use>
                                        </svg>
                                    </div>
                                    <p class="mb-1 fw-bolder">Плюсы</p>
                                    <p class="mb-0">Хорошие проценты по ставке</p>
                                </div>
                                <div class="comment-text-with-icon position-relative small mb-4">
                                    <div class="icon bg-danger">
                                        <svg class="icon-minus">
                                            <use href="img/symbol/sprite.svg#icon-minus"></use>
                                        </svg>
                                    </div>
                                    <p class="mb-2 fw-bolder">Минусы</p>
                                    <p class="mb-0">Система одобрения заявок в Moneyman мне тоже вообще не ясна. Когда
                                        не было
                                        займов нигде, тогда не дали. Когда было еще 3 текущих займа, то Moneyman
                                        одобрили.
                                        Не рекомендую!</p>
                                </div>
                                <div class="comment-gallery d-flex flex-wrap gap-2 fs-0 ">
                                    {% for i in range(0, 3) %}
                                        <a href="#"><img src="img/img-comment.jpg" width="120" height="80"
                                                         loading="lazy"
                                                         class="rounded-1" alt=""></a>
                                    {% endfor %}
                                </div>
                                <div class="comment-likes d-flex align-items-center gap-4">
                                    <button type="button" class="d-inline-flex gap-2 align-items-center">
                                        <svg class="icon-thumb-up">
                                            <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                        </svg>
                                        <span class="text-light">32</span>
                                    </button>
                                    <button type="button" class="d-inline-flex gap-2 align-items-center">
                                        <svg class="icon-thumb-down">
                                            <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                        </svg>
                                        <span class="text-light">5</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="#" class="btn btn-outline-dark btn-sm">Все отзывы</a>
                    </div>
                    <div class="bg-secondary rounded p-4 p-md-6">
                        <div class="h1 mb-4">Добавить отзыв</div>
                        <form action="#" method="post" class="row g-4 g-md-6">
                            <div class="col-md-6">
                                <label for="name" class="form-label text-light">ФИО <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="Фамилия Имя Отчество">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label text-light">Электронная почта <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="email" class="form-control" id="email"
                                       placeholder="Введите ваш e-mail">
                            </div>
                            <div class="col-md-6">
                                <label for="rating" class="form-label text-light">Ваша оценка <span class="text-danger">*</span></label>
                                <div class="bg-white rounded-1 p-4">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input type="hidden" id="rating" name="rating">
                            </div>
                            <div class="col-12">
                                <label for="comment" class="form-label text-light">Ваш комментарий <span
                                            class="text-danger">*</span></label>
                                <textarea name="comment" class="form-control" id="comment"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="advantages" class="form-label text-light">Расскажите о преимуществах</label>
                                <input type="text" name="advantages" class="form-control" id="advantages">
                            </div>
                            <div class="col-md-12">
                                <label for="disadvantages" class="form-label text-light">Расскажите о недостатках</label>
                                <input type="text" name="disadvantages" class="form-control" id="disadvantages">
                            </div>
                            <div class="col-12">
                                <div class="files-area">
                                    Нажмите или перетащите для загрузки фотографии
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-light small">
                                    Поля, обязательные для заполнения <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-wrap flex-md-nowrap align-items-center gap-4">
                                <button type="button" class="btn btn-primary flex-shrink-0">Добавить отзыв</button>
                                <div class="small">
                                    Нажимая кнопку <a href="#">«Добавить отзыв»</a> вы соглашаетесь с политикой обработки персональных данных и пользовательским соглашением
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

