{% extends "layout.html" %}

{% block page %}
    <div class="bg-primary pt-md-2 pb-6 pb-md-12 bg-map">
        <div class="container">
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Займы</li>
                </ol>
            </nav>
            <div class="card-main card bg-transparent border-0">
                <div class="row g-4">
                    <div class="col-xl-9">
                        <div class="d-flex flex-wrap align-items-center gap-4 gap-md-6 mb-4 mb-md-6">
                            <figure class="bg-white mb-0 rounded p-5">
                                <img src="img/img-card.jpg" width="212" height="124" class="img-fluid" alt="">
                            </figure>
                            <div>
                                <h1 class="text-white">Займ в CreditPlus</h1>
                                <div class="rating d-flex align-items-center gap-3">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                    <span class="rating-value small text-white">4.2</span>
                                    <div class="vr text-white"></div>
                                    <a href="#" class="link-light small">12 отзывов</a>
                                </div>
                            </div>
                        </div>
                        <p class="small text-white mb-0">На странице размещены максимально объективные отзывы клиентов о работе CreditPlus (КредитПлюс). Описаны ситуации должников – есть ли реструктуризация долга, что будет если не платить, подают ли в суд, приезжают ли коллекторы.</p>
                    </div>
                    <div class="col-xl-3">
                        <div class="md-4 mb-6">
                            <label for="sum" class="form-label text-white-80">Желаемый лимит</label>
                            <div class="input-wrap position-relative" x-data="slider">
                                <input type="text" name="card_sum" class="form-control" id="card_sum"
                                       @input.debounce.500ms="typing()" @focus="clear()" value="8 000 ₸">
                                <input
                                        type="range"
                                        min="0"
                                        max="100000"
                                        step="500"
                                        data-buffer="8000"/>
                                <svg class="icon-pencil position-absolute translate-middle-y end-0 me-4 top-50">
                                    <use href="img/symbol/sprite.svg#icon-pencil"></use>
                                </svg>
                            </div>
                        </div>
                        <a href="#" class="btn btn-warning w-100">Получить деньги</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6 py-md-12">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="mb-7 pb-7 border-bottom comments-sort">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Сначала полезные
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Все оценки
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comments mb-6 mb-md-12">
                        {% for i in range(0, 3) %}
                            <div class="comment mb-6 pb-6 border-bottom">
                                <div class="comment-head d-flex flex-wrap gap-4 small mb-4">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                    <span class="fw-bolder">Анатолий</span>
                                    <span class="text-light">16 сентября 2019</span>
                                </div>
                                <div class="comment-text small mb-4">
                                    <p class="mb-0">Сотрудники CreditPlus названивают с напоминаем об уже оплаченном
                                        займе в 8
                                        утра, это как вообще?! Не берите здесь займ. Поддержки нормальной нет, только на
                                        почту
                                        пиши и не факт, что ответят.</p>
                                </div>
                                <div class="comment-text-with-icon position-relative small mb-4">
                                    <div class="icon bg-success">
                                        <svg class="icon-plus">
                                            <use href="img/symbol/sprite.svg#icon-plus"></use>
                                        </svg>
                                    </div>
                                    <p class="mb-1 fw-bolder">Плюсы</p>
                                    <p class="mb-0">Хорошие проценты по ставке</p>
                                </div>
                                <div class="comment-text-with-icon position-relative small mb-4">
                                    <div class="icon bg-danger">
                                        <svg class="icon-minus">
                                            <use href="img/symbol/sprite.svg#icon-minus"></use>
                                        </svg>
                                    </div>
                                    <p class="mb-2 fw-bolder">Минусы</p>
                                    <p class="mb-0">Система одобрения заявок в Moneyman мне тоже вообще не ясна. Когда
                                        не было
                                        займов нигде, тогда не дали. Когда было еще 3 текущих займа, то Moneyman
                                        одобрили.
                                        Не рекомендую!</p>
                                </div>
                                <div class="comment-gallery d-flex flex-wrap gap-2 fs-0 ">
                                    {% for i in range(0, 3) %}
                                        <a href="#"><img src="img/img-comment.jpg" width="120" height="80"
                                                         loading="lazy"
                                                         class="rounded-1" alt=""></a>
                                    {% endfor %}
                                </div>
                                <div class="comment-likes d-flex align-items-center gap-4">
                                    <button type="button" class="d-inline-flex gap-2 align-items-center">
                                        <svg class="icon-thumb-up">
                                            <use href="img/symbol/sprite.svg#icon-thumb-up"></use>
                                        </svg>
                                        <span class="text-light">32</span>
                                    </button>
                                    <button type="button" class="d-inline-flex gap-2 align-items-center">
                                        <svg class="icon-thumb-down">
                                            <use href="img/symbol/sprite.svg#icon-thumb-down"></use>
                                        </svg>
                                        <span class="text-light">5</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="bg-secondary rounded p-4 p-md-6" >
                        <div class="h1 mb-4">Добавить отзыв</div>
                        <form action="#" method="post" class="row g-4 g-md-6">
                            <div class="col-md-6">
                                <label for="name" class="form-label text-light">ФИО <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="Фамилия Имя Отчество">
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label text-light">Электронная почта <span
                                            class="text-danger">*</span></label>
                                <input type="text" name="email" class="form-control" id="email"
                                       placeholder="Введите ваш e-mail">
                            </div>
                            <div class="col-md-6">
                                <label for="rating" class="form-label text-light">Ваша оценка <span class="text-danger">*</span></label>
                                <div class="bg-white rounded-1 p-4">
                                    <div class="stars" data-rating="4">
                                        {% for i in range(1, 6) %}
                                            <svg class="icon-star" data-value="{{ i }}">
                                                <use href="img/symbol/sprite.svg#icon-star"></use>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                </div>
                                <input type="hidden" id="rating" name="rating">
                            </div>
                            <div class="col-12">
                                <label for="comment" class="form-label text-light">Ваш комментарий <span
                                            class="text-danger">*</span></label>
                                <textarea name="comment" class="form-control" id="comment"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="advantages" class="form-label text-light">Расскажите о преимуществах</label>
                                <input type="text" name="advantages" class="form-control" id="advantages">
                            </div>
                            <div class="col-md-12">
                                <label for="disadvantages" class="form-label text-light">Расскажите о недостатках</label>
                                <input type="text" name="disadvantages" class="form-control" id="disadvantages">
                            </div>
                            <div class="col-12">
                                <div class="files-area">
                                    Нажмите или перетащите для загрузки фотографии
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-light small">
                                    Поля, обязательные для заполнения <span class="text-danger">*</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-wrap flex-md-nowrap align-items-center gap-4">
                                <button type="button" class="btn btn-primary flex-shrink-0">Добавить отзыв</button>
                                <div class="small">
                                    Нажимая кнопку <a href="#">«Добавить отзыв»</a> вы соглашаетесь с политикой обработки персональных данных и пользовательским соглашением
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}

